<header>
  <!-- Top Section -->
  <section class="px-5 bg-zinc-800 font-light text-white">
    <div class="max-w-7xl m-auto flex py-2 md:py-3 justify-between">
      <!-- Left Section -->
      <div class="flex place-items-center gap-x-3 sm:gap-0 md:divide-x place-content-center md:text-base">
        <a href="tel:1934611720" class="flex place-items-center gap-2 md:gap-x-1 md:px-2 text-xs sm:text-sm">
          <i class="fa fa-whatsapp"></i>
          (19) 3461-1720
        </a>
        <a href="tel:19974118467" class="flex place-items-center gap-2 md:gap-x-1 md:px-2 text-xs sm:text-sm">
          <i class="fa fa-phone"></i>
          (19) 97411-8467
        </a>
      </div>
      <!-- Right Section -->
      <div class="flex justify-between space-x-2">
        <div class="md:flex hidden place-items-center gap-3">
          <a href="mailto:contato@jcmmetais.com.br"
            class="flex flex-row wrap-nowrap items-center gap-3">
            <i class="fa fa-envelope"></i>
            contato@jcmmetais.com.br
          </a>
        </div>
        <a href="https://www.facebook.com/jcmmetais/" >
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="https://www.linkedin.com/company/jcmmetais/">
          <i class="fa fa-linkedin-in"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCAWVdOec1bmWJNKxT3UK46Q">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/jcmmetaiscorteedobra/">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- Navigation Section -->
  <nav [ngClass]="navbar ? 'bg-gradient-to-r bg-white shadow-lg fixed w-full z-50 top-0 transition duration-300 delay-300 animate-slideInDown' : 'bg-opacity-1  w-full z-50 bg-white shadow-lg transition duration-300 delay-300'">
    <div class="max-w-7xl m-auto px-5 md:px-0">
      <div class="flex items-center h-20 w-full">
        <div class="flex items-center justify-between w-full">
          <!-- Logo Section -->
          <div class="flex justify-center items-center flex-shrink-0 max-w-[100px] ml-5">
            <!-- Replace with your Image source -->
            <img src="../../../../../assets/img/jcm logo.svg" alt="Logo" class="cursor-pointer" [routerLink]="['/']">
          </div>
          <!-- Navigation Menu for Desktop -->
          <div class="hidden md:block">
            <div class="flex items-baseline space-x-4">
              <ng-container *ngFor="let item of navigation">
                <a [routerLink]="item.href"
                  [ngClass]="isCurrentRoute(item.href) ? 'cursor-pointer tracking-wider text-black px-3 py-2 text-sm font-semibold hover:text-red-600' : 'cursor-pointer border-transparent transition tracking-wider text-black hover:text-red-600 px-3 py-2 text-sm font-semibold'">
                  {{ item.name }}
                </a>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- Mobile Menu Button -->
        <div class="mr-5 flex md:hidden">
          <button (click)="toggleMenu()" type="button"
            class="inline-flex items-center justify-center p-2 rounded-md text-white focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-black shadow-md bg-zinc-800"
            aria-controls="mobile-menu" aria-expanded="false">
            <i *ngIf="!isOpen" class="fa fa-bars"></i>
            <i *ngIf="isOpen" class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Mobile Menu -->
    <div [@toggleMenu]="isOpen ? 'open' : 'closed'" [ngClass]="{'hidden': !isOpen}" id="mobile-menu" class="md:hidden">
      <div class="bg-gradient-to-t from-zinc-900 via-stone-900 to-zinc-800 px-2 space-y-1 sm:px-3 py-10">
        <ng-container *ngFor="let item of navigation">
          <a [routerLink]="item.href" (click)="toggleMenu()"
            class="cursor-pointer hover:bg-redJCM text-white hover:text-white block px-3 py-2 rounded-md text-base font-medium tracking-wider">
            {{ item.name }}
          </a>
        </ng-container>
      </div>
    </div>
  </nav>
</header>
