
.center-me{
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  align-items: center;
justify-content: center;

}

.caixa {
  margin: auto;
  width: auto;
  max-width: 500px;
  max-height: 250px;
  padding: 50px;

  border-width: 1px;
  border-style: solid;
  border-color: #747678;
  background-color: #3c3c3c;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



