<div class="center-me">
  <div class="caixa">
    <form (ngSubmit)="login()">
      <label for="email"
        ><input
        pInputText
        class="p-inputtext"
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="email"
          required
      /></label>
      <label for="senha"
        ><input
        pInputText
        class="p-inputtext"
          type="password"
          id="senha"
          name="senha"
          placeholder="Password"
          [(ngModel)]="senha"
          required
      /></label>
      <input pButton class="p-button" type="submit" id="submit" name="submit" />
    </form>
  </div>

</div>
