
body {
  background-color: #20262e;

  height: 100%;
  min-height: 100%;
  color: rgb(63 63 70);

}
html {
  height: 100%;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
  color: rgba(255, 0, 0, 0.87);
  :hover {
    color: rgba(125, 0, 0, 0.87);
  }
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background: rgba(255, 0, 0, 0.87);
  color: #151515;
  :hover {
    color: rgba(125, 0, 0, 0.87);
  }
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.swiper-button-prev,
.swiper-button-next {
	color: rgb(220, 38, 38) !important;
}

.swiper-pagination-bullet-active {
	background-color: rgb(220, 38, 38) !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 0 !important;
}

.swiper-button-prev {
	left: 0 !important;
}

.swiper-button-next {
	right: 0 !important;
}

.card-services1 {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.644),
			rgba(0, 0, 0, 0.637)
		),
		url('../../../assets/img/Services/corte-laser.webp');
	&:hover {
		background: url('../../../assets/img/Services/corte-laser.webp');
	}
	background-size: cover;
}
.card-services2 {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.644),
			rgba(0, 0, 0, 0.637)
		),
		url('../../../assets/img/Services/Calandra de Tubos.webp');
	&:hover {
		background: url('../../../assets/img/Services/Calandra de Tubos.webp');
	}
	background-size: cover;
}
.card-services3 {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.644),
			rgba(0, 0, 0, 0.637)
		),
		url('../../../assets/img/Services/corte-plasma.webp');
	&:hover {
		background: url('../../../assets/img/Services/corte-plasma.webp');
	}
	background-size: cover;
}
.card-services4 {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.644),
			rgba(0, 0, 0, 0.637)
		),
		url('../../../assets/img/Services/Dobra de Chapas.webp');
	&:hover {
		background: url('../../../assets/img/Services/Dobra de Chapas.webp');
		background-size: cover;
	}
	background-size: cover;
}
.card-services5 {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.644),
			rgba(0, 0, 0, 0.637)
		),
		url('../../../assets/img/Services/Conformacao de Pecas e Estampa.webp');
	&:hover {
		background: url('../../../assets/img/Services/Conformacao de Pecas e Estampa.webp');
	}
	background-size: cover;
}
.card-services6 {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.644),
			rgba(0, 0, 0, 0.637)
		),
		url('../../../assets/img/Services/Dobradeira de Tubo ate 2.webp');
	&:hover {
		background: url('../../../assets/img/Services/Dobradeira de Tubo ate 2.webp');
	}
	background-size: cover;
}
.card-services7 {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.644),
			rgba(0, 0, 0, 0.637)
		),
		url('../../../assets/img/Services/Calandra de Chapa.webp');
	&:hover {
		background: url('../../../assets/img/Services/Calandra de Chapa.webp');
		background-size: cover;
	}
	background-size: cover;
}
.card-services8 {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.644),
			rgba(0, 0, 0, 0.637)
		),
		url('../../../assets/img/Services/Puncionadeira.webp');
	&:hover {
		background: url('../../../assets/img/Services/Puncionadeira.webp');
		background-size: cover;
	}
	background-size: cover;
}
.directionRtl {
	direction: rtl;
}
.directionInit {
	direction: initial;
}
@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
}
.pulse {
	animation: pulse-animation 2s infinite;
}

