<div class="bg-white">
  <!-- Slider -->
  <section>
    <a
      href="https://api.whatsapp.com/send?phone=551934611720&text=Ol%C3%A1%2C%20vim%20atrav%C3%A9s%20do%20site!"
      target="_blank"
      rel="noopener noreferrer"
      class="w-full shadow-2xl flex"
    >
      <div class="w-screen">
        <img
          layout="responsive"
          class="w-full h-full"
          src="../../../../../assets/img/Banner/bg-home-1.webp"
          alt="Banner"
        />
      </div>
    </a>
  </section>
  <!-- Sobre Nós -->
  <section class="px-5 bg-gray-50">
    <div class="py-12 mx-auto container md:px-10">
      <div
        class="max-w-7xl flex-wrap lg:flex-nowrap gap-10 items-center place-content-center py-34 m-auto"
      >
        <div class="m-auto max-w-2xl text-center">
          <h3 class="text-4xl font-bold pb-2 text-zinc-700">Quem Somos</h3>
          <div class="flex gap-2 place-content-center">
            <span class="flex w-20 h-1 bg-red-600 mb-6"></span>
            <span class="flex w-4 h-1 bg-red-600 mb-6"></span>
          </div>
          <p class="pb-14 pt-4">
            A <span class="font-bold text-red-600">JCM Metais</span> é uma
            empresa consolidada no mercado com
            <span class="font-bold"> 11 anos de atuação e experiência </span>
            no mercado metalúrgico. Somos especialistas na execução de serviços
            de corte e dobra de materiais em aço carbono, alumínio, aço inox,
            latão e cobre, aliando sempre qualidade à tecnologia para
            proporcionar os melhores resultados.
          </p>
        </div>
        <div class="relative max-w-2xl m-auto">
          <img
            class="w-full rounded-md shadow-black-500/50 m-auto hover:-translate-y-2 transition hover:shadow-2xl shadow-2xl"
            alt="Fachada JCM Metais"
            src="../../../../../assets/img/frente.webp"
          />

          <span
            class="bg-gradient-to-l to-[#00000000] from-[#000000c1] absolute w-full h-full top-0 right-0 flex place-content-end place-items-end p-6"
          >
            <p class="text-white font-semibold text-lg">
              JCM Metais em Americana
            </p>
          </span>
        </div>
      </div>
      <div class="max-w-7xl m-auto grid md:grid-cols-3 pt-28">
        <div class="flex flex-col w-full py-5 md:p-0">
          <div class="grid place-items-center justify-center pb-6">
            <fa-icon [icon]="faAward" class="text-6xl text-red-600"></fa-icon>
            <p class="text-2xl text-zinc-700 font-bold pt-3">Missão</p>
          </div>
          <div>
            <p class="text-center px-3">
              Proporcionar total satisfação aos nossos clientes em cada
              prestação de serviço, buscando sempre excelência em cada um de
              nossos processos, desde o atendimento, até a entrega do produto
              final.
            </p>
          </div>
        </div>
        <div class="flex flex-col w-full py-5 md:p-0">
          <div class="grid place-items-center justify-center pb-6">
            <fa-icon
              [icon]="faChartLine"
              class="text-6xl text-red-600"
            ></fa-icon>
            <p class="text-2xl text-zinc-700 font-bold pt-3">Visão</p>
          </div>
          <div>
            <p class="text-center px-3">
              Proporcionar benefícios para todos aqueles que utilizam nossos
              serviços e contribuir com o cenário atual, trabalhando
              constantemente para trazer melhorias e bem-estar aos nossos
              clientes e colaboradores.
            </p>
          </div>
        </div>
        <div class="flex flex-col w-full py-5 md:p-0">
          <div class="grid place-items-center justify-center pb-6">
            <fa-icon [icon]="faHands" class="text-6xl text-red-600"></fa-icon>
            <p class="text-2xl text-zinc-700 font-bold pt-3">Valores</p>
          </div>
          <div>
            <p class="text-center px-3">
              Comprometimento com um serviço de qualidade, com excelência em
              atendimento, cumprimento de prazos, respeito e eficiência.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Nossos Produtos -->
  <section class="px-6 py-24">
    <div class="container m-auto">
      <div class="max-w-7xl m-auto">
        <div class="mx-auto pb-5 flex flex-row place-content-center sm:px-8">
          <div class="max-w-xl text-center">
            <h3 class="text-4xl font-bold pb-2 text-black">Nossos Produtos</h3>
            <div class="flex gap-2 place-content-center">
              <span class="flex w-20 h-1 bg-red-600"></span>
              <span class="flex w-4 h-1 bg-red-600"></span>
            </div>
            <p class="py-10">
              Oferecemos produtos de qualidade que irão fazer toda a diferença
              para o seu projeto. Todos produzidos com matéria-prima de primeira
              que garantem resistência e maior duração.
            </p>
          </div>
        </div>

        <p-carousel [value]="products" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item">
            <div
              class="rounded-lg shadow-lg shadow-gray flex flex-col w-fit m-1 hover:-translate-y-1 hover:scale-100 duration-700"
            >
              <a [routerLink]="['/produtos']">
                <img
                  class="rounded-lg z-0"
                  [src]="product.img"
                  [alt]="product.altText"
                />
              </a>
              <div class="px-4 py-4 bg-white border-b-4 border-red-600 z-10">
                <h3 class="text-lg text-blue1 font-semibold text-center">
                  {{ product.title }}
                </h3>
              </div>
            </div>
          </ng-template>
        </p-carousel>

        <div class="flex place-content-center">
          <app-button-saiba-mais link="/produtos"></app-button-saiba-mais>
        </div>
      </div>
    </div>
  </section>
  <!-- Certificação -->
  <section class="px-6 m-auto bg-[#F4F5F6] pt-24 pb-20 md:pb-0 md:mb-20">
    <div class="container m-auto">
      <div class="max-w-7xl m-auto">
        <!-- Main flex container -->
        <div
          class="flex flex-wrap md:flex-nowrap items-center place-content-center py-34 m-auto gap-10"
        >
          <!-- Left side image container -->
          <div class="md:flex-1 md:mb-20">
            <div class="relative max-w-[500px] hover:-translate-y-4 transition">
              <img
                alt="Corte a Laser"
                src="../../../../../assets/img/Selo/corte-a-laser.webp"
                class="m-auto rounded-md"
              />
              <span
                class="absolute h-full w-full top-0 left-0 bg-zinc-700 bg-opacity-30 hover:bg-opacity-0 transition rounded-md"
              ></span>

              <!-- ISO certification badge -->
              <div
                class="absolute bottom-2 right-2 z-10 w-[200px] p-2 bg-white cursor-pointer"
                (click)="openModal()"
              >
                <img
                  src="../../../../../assets/img/Selo/ISO_9001-UKAS.webp"
                  width="100%"
                  height="58%"
                  layout="responsive"
                  alt="Certificado ISO 9001:2015"
                />
              </div>
            </div>
          </div>

          <!-- Right side text content -->
          <div
            class="md:flex-1 md:mb-20 md:text-justify sm:pt-28 md:pt-18 lg:pt-0"
          >
            <h3 class="text-3xl font-bold pb-10 text-left text-black m-auto">
              Qualidade e Eficiência para o seu projeto!
            </h3>
            <p class="m-auto w-full">
              <span class="text-blue1 font-semibold pr-2"
                >Selo ISO 9001:2015</span
              >
              é um atestado de reconhecimento nacional e internacional, que
              garante que nossa empresa está sempre buscando inovar suas formas
              de trabalho, para proporcionar maior qualidade, desempenho,
              confiabilidade e satisfação em cada um de nossos serviços
              prestados.
            </p>

            <!-- Buttons -->
            <div
              class="pt-10 flex flex-wrap gap-4 flex-col-reverse sm:flex-row"
            >
                <app-button-saiba-mais label="Fazer Orçamento"></app-button-saiba-mais>
              <button
                (click)="openModal()"
                class="border-2 border-red-600 bg-red-600 text-white hover:bg-transparent hover:text-red-600 w-fit py-3 px-10 font-semibold transition rounded mt-5"
              >
                Ver certificado
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for ISO certification -->
    <p-dialog
      header="Certificado"
      [(visible)]="displayModal"
      [modal]="true"
      [style]="{ width: '50vw' }"
    >
    <img
        src="../../../../../assets/img/politica-qualidade.webp"
        width="100%"
        height="100%"
        alt="Politica de Qualidade JCM Metais"
      />
      <img
        src="../../../../../assets/img/Selo/novo-certificado.jpg"
        width="100%"
        height="100%"
        alt="Certificado ISO 9001:2015"
      />
    </p-dialog>
  </section>
  <!-- Serviços -->
  <section class="">
    <div class="px-6 py-24 bg-gray">
      <div class="container m-auto">
        <div class="max-w-7xl m-auto">
          <div class="mx-auto pb-5 flex flex-row place-content-center sm:px-8">
            <div class="max-w-xl text-center">
              <h3 class="text-4xl font-bold pb-2 text-black">
                Nossos Serviços
              </h3>
              <div class="flex gap-2 place-content-center">
                <span class="flex w-20 h-1 bg-red-600"></span>
                <span class="flex w-4 h-1 bg-red-600"></span>
              </div>
              <p class="py-10">
                Oferecemos serviços que atendem a diversas demandas e tipos de
                metais, proporcionando qualidade, eficiência e rapidez em todos
                os nossos processos de trabalho.
              </p>
            </div>
          </div>

          <p-carousel [value]="services" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
              <div [class]="item.class">
                <div class="flex items-center">
                  <p class="text-2xl font-bold text-white text-center h-fit">
                    {{ item.label }}
                  </p>
                </div>
              </div>
            </ng-template>
          </p-carousel>

          <div class="flex place-content-center pt-10">
            <app-button-saiba-mais link="/servicos"></app-button-saiba-mais>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
