button {
  margin-right: 10px;
}

.header {
  background: #2a323d;
  color: rgba(255, 255, 255, 0.6);
  border: solid #3f4b5b;
  border-width: 1px 0;
  padding: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

.caixa, .select {
  width: 150px;
  border-style: none none none solid;
  border-width: 5px;
  border-radius: 0px 5px 5px 0px;
  border-color: #e4e6e8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  vertical-align: middle;
  position: relative;
  color: #e4e6e8;
  background-color: #20262e;
  padding: 3px;
}

.statusGreen {
  color: #155724;
  background-color: #d4edda;
  border-color: #155724;
}

.statusBlue{
  color: #004095;
  background-color: #cce5ff;
  border-color: #004095
}

.statusYellow{
  color: #856404;
  background-color: #fff3cd;
  border-color:#856404
}

.statusRed{
  color: #9d1c24;
  background-color: #f8d7da;
  border-color:#9d1c24
}

.statusPurple{
  color: #2c1e30;
  background-color: #e1cfe7;
  border-color:#2c1e30
}

