<div class="d-flex header">
  <div class="p-2 align-items-center">
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input
        pInputText
        class="p-inputtext"
        type="text"
        placeholder="Search keyword"
        [(ngModel)]="query.searchValue"
        (ngModelChange)="search()"
      />
    </span>
  </div>
  <div class="p-2 align-items-center">
    Filtrar por status:
    <p-dropdown
      name="status"
      [options]="CaixaDeStatusOptions"
      [ngModel]="query.status"
      (ngModelChange)="query.status = $event.valor; search()"
      optionLabel="valor"
      [editable]="true"
    ></p-dropdown>
    <button
      pButton
      type="button"
      icon="pi pi-times"
      (click)="query.status = undefined; search()"
      style="margin-left: 10px;"
    ></button>
  </div>
</div>
<div class="d-flex justify-content-between flex-wrap">
  <div *ngFor="let op of ordemProducao; let index = index" style="max-width: 25%;">
    <p-card >
      <ng-template pTemplate="header">
        <caixaDeStatus
          [status]="op.status"
          *ngIf="!op.editable"
        ></caixaDeStatus>
        <caixaDeStatus
          [status]="op.new?.status"
          [editable]="op.editable"
          [options]="CaixaDeStatusOptions"
          *ngIf="op.editable"
          (statusChange)="onChangeStatus($event, index)"
        ></caixaDeStatus>
        <span
          >OP: <strong>{{ op.id }}</strong> Orçamento:
          {{ op.orcamento?.id }}</span
        >
      </ng-template>
      <p>Cliente: {{ op.orcamento?.pessoa?.nome }}</p>
      <p>Vendedor: {{ op.vendedor?.pessoa?.nome }}</p>
      <p>Total: {{ op.orcamento?.total | currency : "BRL" }}</p>
      <p>
        <span
          >Prazo:
          <span
            class="caixa"
            [ngClass]="{
              statusYellow: isToday(op.data_prazo!) && !op.data_finalizacao,
              statusRed:
                (isBeforeToday(op.data_prazo!) && !op.data_finalizacao) ||
                isBeforeDate(op.data_prazo!, op.data_finalizacao!),
              statusGreen:
                isAfterDate(op.data_prazo!, op.data_finalizacao!) ||
                isEqualsDate(op.data_prazo!, op.data_finalizacao!)
            }"
            >{{ op.data_prazo | date : "dd/MM/yyyy" }}</span
          ></span
        >
        <br />
        <span
          >Fabricado:
          <span
            *ngIf="!op.editable"
            [ngClass]="{
              caixa: op.data_finalizacao
            }"
            >{{ op.data_finalizacao | date : "dd/MM/yyyy" }}</span
          >
          <p-calendar
            name="data_finalizacao"
            [(ngModel)]="op.new!.data_finalizacao"
            dateFormat="dd/mm/yy"
            styleClass="w-100"
            *ngIf="op.editable"
            (onSelect)="op.new!.status = 'Finalizado'"
          ></p-calendar></span
        ><br />
        <span
          >Negociado:
          <span
            *ngIf="!op.editable"
            [ngClass]="{
              caixa: op.data_negociado,
              statusYellow: isToday(op.data_negociado!) && !op.data_finalizacao,
              statusRed:
                isBeforeToday(op.data_negociado!) &&
                !isToday(op.data_negociado!),
              statusGreen:
                isAfterDate(op.data_negociado!, op.data_finalizacao!) ||
                isEqualsDate(op.data_negociado!, op.data_finalizacao!)
            }"
            >{{ op.data_negociado | date : "dd/MM/yyyy" }}</span
          >
          <p-calendar
            name="data_negociado"
            [(ngModel)]="op.new!.data_negociado"
            dateFormat="dd/mm/yy"
            styleClass="w-100"
            *ngIf="op.editable"
          ></p-calendar></span
        ><br />
        <span
          >Entregue:
          <span
            *ngIf="!op.editable"
            [ngClass]="{
              caixa: op.data_entregue
            }"
            >{{ op.data_entregue | date : "dd/MM/yyyy" }}</span
          >
          <p-calendar
            name="data_entregue"
            [(ngModel)]="op.new!.data_entregue"
            dateFormat="dd/mm/yy"
            styleClass="w-100"
            *ngIf="op.editable"
            (onSelect)="op.new!.status = 'Entregue'"
          ></p-calendar>
        </span>
      </p>
      <br />
      <div>
        Historico:
        <div class="d-flex" *ngIf="op.editable">
          <div class="flex-fill">
            <input
              pInputText
              type="text"
              id="newItem"
              [(ngModel)]="op.new!.newItem"
            />
          </div>
          <div class="">
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              (click)="addHistorico(index)"
            ></button>
          </div>
        </div>
        <div
          *ngFor="
            let historico of !op.editable
              ? op.ordem_producao_historicos!
              : op.new!.ordem_producao_historicos!;
            let indexHistorico = index
          "
          class="d-flex d-column"
        >
          <div class="d-flex justify-content-between">
            <div class="flex-fill p-2">
              <span>
                {{ historico.usuario?.pessoa?.nome }}: {{ historico.texto }} -
              </span>
              <span
                >{{ historico.updatedAt | date : "dd/MM/yyyy HH:mm:ss" }}
              </span>
            </div>
            <div
              *ngIf="op.editable"
              (click)="deleteHistorico(index, indexHistorico)"
              class="d-flex flex-column justify-content-center"
            >
              <i class="pi pi-trash trash"></i>
            </div>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div class="d-flex justify-content-between">
          <div>
            <button
              pButton
              icon="pi pi-pencil"
              label="Editar"
              (click)="op.editable = true; newEditable(op)"
              *ngIf="!op.editable"
            ></button>
            <button
              pButton
              icon="pi pi-check"
              label="Salvar"
              (click)="salvar(op, index)"
              *ngIf="op.editable"
            ></button>
            <button
              pButton
              icon="pi pi-times"
              label="Cancelar"
              (click)="op.editable = false; op.new = undefined"
              *ngIf="op.editable"
            ></button>
            <button
              pButton
              icon="pi pi-external-link"
              label="Abrir"
              [routerLink]="[op.id]"
              *ngIf="!op.editable"
            ></button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<div class="">
  <p-paginator
    #paginator
    [rows]="query.pageCount"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[25, 50, 100]"
    (onPageChange)="pageChange($event)"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="totalRecords + ' resultados'"
  ></p-paginator>
  <span>F-020 - Controle de Ordem de Produção - Emissão: 25/09/2018 Revisão: 26/4/2023</span>
</div>
