<div class="flex header flex-col">
  <div class="p-2 flex flex-col md:flex-row gap-4">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        placeholder="Pesquisar"
        [(ngModel)]="queryService.ordemProducao.searchValue"
        (ngModelChange)="search()"
      />
    </span>
    <button
      pButton
      style="margin: 0 !important"
      (click)="toggleFiltros = !toggleFiltros"
    >
      Filtros
    </button>
  </div>
  <div *ngIf="toggleFiltros" class="d-flex flex-row flex-wrap">
    <div class="p-2 align-items-center">
      Filtrar por status:
      <p-dropdown
        name="status"
        [options]="CaixaDeStatusOptions"
        [ngModel]="queryService.ordemProducao.status"
        (ngModelChange)="queryService.ordemProducao.status = $event; search()"
        [editable]="true"
      ></p-dropdown>
      <button
        pButton
        type="button"
        icon="pi pi-times"
        (click)="queryService.ordemProducao.status = undefined; search()"
        style="margin-left: 10px"
      ></button>
    </div>
    <div class="p-2 align-items-center">
      Filtrar por vendedor:
      <p-dropdown
        name="vendedor"
        [options]="vendedores$ | async"
        [ngModel]="queryService.ordemProducao.vendedor"
        (ngModelChange)="
          queryService.ordemProducao.id_vendedor = $event.id; search()
        "
        optionLabel="pessoa.nome"
        [editable]="true"
      ></p-dropdown>
      <button
        pButton
        type="button"
        icon="pi pi-times"
        (click)="
          queryService.ordemProducao.vendedor = undefined;
          queryService.ordemProducao.id_vendedor = undefined;
          search()
        "
        style="margin-left: 10px"
      ></button>
    </div>
    <div class="p-2 align-items-center">
      Filtrar por data de prazo:
      <p-calendar
        name="data_prazo"
        [(ngModel)]="queryService.ordemProducao.data_prazo"
        dateFormat="dd/mm/yy"
        (onSelect)="search()"
      ></p-calendar>
      <button
        pButton
        type="button"
        icon="pi pi-times"
        (click)="queryService.ordemProducao.data_prazo = undefined; search()"
        style="margin-left: 10px"
      ></button>
    </div>
  </div>

  <div class="flex flex-row flex-wrap justify-items-stretch">
    <div
      *ngFor="
        let op of ordemProducao;
        let index = index;
        trackBy: trackByFunction
      "
      class="lg:w-[25%] md:w-[50%] sm:w-[100%] p-2 space-x-2 space-y-2"
    >
      <p-card class="">
        <ng-template pTemplate="header">
          <caixaDeStatus
            [status]="op.status"
            *ngIf="!op.editable"
          ></caixaDeStatus>
          <caixaDeStatus
            [status]="op.new?.status"
            [editable]="op.editable"
            [options]="CaixaDeStatusOptions"
            *ngIf="op.editable"
            (statusChange)="onChangeStatus($event, index)"
          ></caixaDeStatus>
          <span
            >OP: <strong>{{ op.id }}</strong> Orçamento:
            <span
              class="link"
              [routerLink]="['/home/orcamentos/' + op.orcamento?.id]"
              >{{ op.orcamento?.id }}</span
            ></span
          >
        </ng-template>
        <p>Cliente: {{ op.orcamento?.pessoa?.nome }}</p>
        <p>Vendedor: {{ op.vendedor?.pessoa?.nome }}</p>
        <p>Total: {{ op.orcamento?.total | currency : "BRL" }}</p>
        <table>
          <tbody>
            <tr>
              <td>Prazo:</td>
              <td>
                <span
                  class="caixa"
                  [ngClass]="{
                    statusYellow:
                      isToday(op.data_prazo!) && !op.data_finalizacao,
                    statusRed:
                      (isBeforeToday(op.data_prazo!) && !op.data_finalizacao) ||
                      isBeforeDate(op.data_prazo!, op.data_finalizacao!),
                    statusGreen:
                      isAfterDate(op.data_prazo!, op.data_finalizacao!) ||
                      isEqualsDate(op.data_prazo!, op.data_finalizacao!)
                  }"
                  >{{ op.data_prazo | date : "dd/MM/yyyy" }}</span
                >
              </td>
            </tr>
            <tr>
              <td *ngIf="op.data_finalizacao || op.editable">Fabricado:</td>
              <td>
                <span
                  *ngIf="!op.editable"
                  [ngClass]="{
                    caixa: op.data_finalizacao
                  }"
                  >{{ op.data_finalizacao | date : "dd/MM/yyyy" }}</span
                >
                <p-calendar
                  name="data_finalizacao"
                  [(ngModel)]="op.new!.data_finalizacao"
                  dateFormat="dd/mm/yy"
                  styleClass="w-100"
                  *ngIf="op.editable"
                  (onSelect)="op.new!.status = 'Finalizado'"
                ></p-calendar>
              </td>
            </tr>
            <tr>
              <td *ngIf="op.data_negociado || op.editable">Negociado:</td>
              <td>
                <span
                  *ngIf="!op.editable"
                  [ngClass]="{
                    caixa: op.data_negociado,
                    statusYellow:
                      isToday(op.data_negociado!) && !op.data_finalizacao,
                    statusRed:
                      isBeforeToday(op.data_negociado!) &&
                      !isToday(op.data_negociado!) &&
                      (!op.data_finalizacao ||
                        isBeforeDate(op.data_negociado!, op.data_finalizacao!)),
                    statusGreen:
                      isBeforeDate(op.data_finalizacao!, op.data_negociado!) ||
                      isEqualsDate(op.data_finalizacao!, op.data_negociado!)
                  }"
                  >{{ op.data_negociado | date : "dd/MM/yyyy" }}</span
                >
                <p-calendar
                  name="data_negociado"
                  [(ngModel)]="op.new!.data_negociado"
                  dateFormat="dd/mm/yy"
                  styleClass="w-100"
                  *ngIf="op.editable"
                ></p-calendar>
              </td>
            </tr>
            <tr>
              <td *ngIf="op.data_entregue || op.editable">Entregue:</td>
              <td>
                <span
                  *ngIf="!op.editable"
                  [ngClass]="{
                    caixa: op.data_entregue
                  }"
                  >{{ op.data_entregue | date : "dd/MM/yyyy" }}</span
                >
                <p-calendar
                  name="data_entregue"
                  [(ngModel)]="op.new!.data_entregue"
                  dateFormat="dd/mm/yy"
                  styleClass="w-100"
                  *ngIf="op.editable"
                  (onSelect)="op.new!.status = 'Entregue'"
                ></p-calendar>
              </td>
            </tr>
          </tbody>
        </table>
        <br *ngIf="op.ordem_producao_historicos?.[0] || op.editable" />
        <div>
          <span *ngIf="op.ordem_producao_historicos?.[0] || op.editable"
            >Historico:</span
          >
          <div class="d-flex" *ngIf="op.editable">
            <div class="flex-fill">
              <input
                pInputText
                type="text"
                id="newItem"
                [(ngModel)]="op.new!.newItem"
              />
            </div>
            <div class="">
              <button
                pButton
                type="button"
                icon="pi pi-plus"
                (click)="addHistorico(index)"
              ></button>
            </div>
          </div>
          <div
            *ngFor="
              let historico of !op.editable
                ? op.ordem_producao_historicos!
                : op.new!.ordem_producao_historicos!;
              let indexHistorico = index
            "
            class="d-flex d-column"
          >
            <div class="d-flex justify-content-between">
              <div class="flex-fill p-2">
                <span>
                  {{ historico.usuario?.pessoa?.nome }}: {{ historico.texto }} -
                </span>
              </div>
              <div
                *ngIf="op.editable"
                (click)="deleteHistorico(index, indexHistorico)"
                class="d-flex flex-column justify-content-center"
              >
                <i class="pi pi-trash trash"></i>
              </div>
            </div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <div class="d-flex justify-content-between">
            <div>
              <button
                pButton
                icon="pi pi-pencil"
                label="Editar"
                (click)="op.editable = true; newEditable(op)"
                *ngIf="!op.editable"
              ></button>
              <button
                pButton
                icon="pi pi-check"
                label="Salvar"
                (click)="salvar(op, index)"
                *ngIf="op.editable"
              ></button>
              <button
                pButton
                icon="pi pi-times"
                label="Cancelar"
                (click)="op.editable = false; op.new = undefined"
                *ngIf="op.editable"
              ></button>
              <button
                pButton
                icon="pi pi-external-link"
                label="Abrir"
                [routerLink]="[op.id]"
                *ngIf="!op.editable"
              ></button>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
  <div class="">
    <p-paginator
      #paginator
      [rows]="queryService.ordemProducao.pageCount"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[25, 50, 100]"
      (onPageChange)="pageChange($event)"
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="totalRecords + ' resultados'"
      [first]="first"
    ></p-paginator>
    <span
      >F-020 - Controle de Ordem de Produção - Emissão: 25/09/2018 Revisão:
      26/4/2023</span
    >
  </div>
</div>
