<!-- footer.component.html -->
<footer class="bg-gradient-to-r from-zinc-800 to-neutral-700 text-white">
  <div class="grid grid-cols-1 gap-y-7 md:gap-y-0 sm:grid-cols-2 md:grid-cols-4 m-auto px-5 py-10 max-w-7xl gap-x-6">
    <!-- First Column -->
    <div class="flex flex-col gap-y-4 py-6">
      <img class="max-w-[200px]" src="../../../../../assets/img/Logo/jcm-logo.webp" alt="Logo JCM Metais" />
      <p class="tracking-wide font-light">
        J. C. M. INDUSTRIA E COMERCIO DE METAIS LTDA - 13.598.863/0001-54
      </p>
      <p>
        Somos especializados na execução de serviços de corte, dobra, calandra, conformação, punção, plasma e laser.
      </p>
      <div class="w-3/5 p-2 bg-white">
        <img src="../../../../../assets/img/Selo/ISO_9001-UKAS.webp" alt="ISO 9001-UKAS" />
      </div>
    </div>

    <!-- Second Column -->
    <div>
      <h3 class="text-white py-5 text-2xl font-semibold">Navegue</h3>
      <div class="flex flex-col">
        <a *ngFor="let item of navigation"
           [routerLink]="item.href"
           class="cursor-pointer tracking-widest text-white px-3 py-2 text-sm font-semibold flex gap-x-3 place-items-center">
           <i class="fa fa-arrow-right"></i>
          {{ item.name }}
        </a>
      </div>
    </div>

    <!-- Third Column (Contact Details) -->
    <div class="flex flex-col place-items-left">
      <h3 class="text-white py-5 text-2xl font-semibold">Contato</h3>
      <!-- Phone details -->
      <a href="https://api.whatsapp.com/send?phone=551934611720&text=Ol%C3%A1%2C%20vim%20atrav%C3%A9s%20do%20site!" class="flex place-items-center gap-3 font-light py-1">
        <i class="fa fa-whatsapp"></i> (19) 3461-1720
      </a>
      <a href="tel:19974118467" class="flex place-items-center gap-3 font-light py-1">
        <i class="fa fa-phone"></i>
        (19) 97411-8467
      </a>
      <!-- Email details -->
      <a href="mailto:contato@jcmmetais.com.br" class="flex place-items-center gap-3 font-light py-1">
        <i class="fa fa-envelope"></i> contato@jcmmetais.com.br
      </a>
      <!-- Location details -->
      <a href="https://goo.gl/maps/sH3p7BHBAvF5M7EJ9" class="flex place-items-center gap-3 font-light py-1">
        <i class="fa fa-map-marker"></i> Av. de Cillo, 4155 - Parque Novo Mundo, Americana - SP, 13467-600
      </a>
      <div class="m-auto max-w-[200px] pt-3 w-10/12 sm:m-0 sm:max-w-[170px] ">
        <img
          src='../../../../../assets/img/QRCode.webp'
          alt="QRCode de Contato"
          class="rounded"
        />
      </div>
    </div>

    <!-- Fourth Column (Social Media Links) -->
    <div>
      <h3 class="text-white my-5 text-2xl font-semibold">Redes Sociais</h3>
      <div class="flex gap-x-3 text-xl">
        <a href="https://www.facebook.com/jcmmetais/" class="bg-white text-black text-xl w-10 flex place-content-center place-items-center hover:scale-110 transition h-10 rounded-full">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="https://www.linkedin.com/company/jcmmetais/" class="bg-white text-black text-xl w-10 flex place-content-center place-items-center hover:scale-110 transition h-10 rounded-full">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCAWVdOec1bmWJNKxT3UK46Q" class="bg-white text-black text-xl w-10 flex place-content-center place-items-center hover:scale-110 transition h-10 rounded-full">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/jcmmetaiscorteedobra/" class="bg-white text-black text-xl w-10 flex place-content-center place-items-center hover:scale-110 transition h-10 rounded-full">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
