<section class="bg-url" style="background-image: url('../../../../../assets/img/Banner/background.webp');">
  <div class="container m-auto">
    <div class="max-w-7xl m-auto">
      <div class="grid sm:grid-cols-2 gap-36">
        <div class="flex flex-col gap-8">
          <h1 class="uppercase text-2xl sm:text-7xl font-bold text-custom-color">
            Nossos Produtos
          </h1>
          <p>
            Oferecemos produtos de qualidade que irão fazer toda a
            diferença para o seu projeto. Todos produzidos com matéria
            prima de primeira que garantem resistência e maior duração.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-36 lg:px-20 px-5">
  <div class="container m-auto">
    <div class="max-w-7xl m-auto">
      <div class="flex flex-col gap-32">
        <app-card *ngFor="let dataitem of data; let i = index" [data]="dataitem"></app-card>
      </div>
    </div>
  </div>
</section>
