<div class="page">
  <h2>Pedido de Compra</h2>
  <span>F-035 - Rev.01 - Emissão: 12/09/2018 Revisão: 26/4/2023</span>
  <caixaDeStatus
    [status]="status.value"
    [options]="statusList"
    [editable]="false"
    (statusChange)="status = $event"
  ></caixaDeStatus>
  <form [formGroup]="pedidoCompra" (ngSubmit)="createOrUpdate()">
    >
    <div class="row">
      <div class="col-6 col-sm-2">
        <label name="lblId" id="lblId" for="id">Id: </label
        ><input
          pInputText
          class="p-inputtext noprint"
          id="id"
          readonly
          name="id"
          type="text"
          formControlName="id"
        />
        <span class="noview">{{ id.value }}</span>
      </div>
      <div class="col-6 col-sm-5">
        <label name="lblPedido" id="lblPedido" for="pedido">Pedido: </label
        ><input
          pInputText
          class="p-inputtext noprint"
          name="pedido"
          id="pedido"
          type="text"
          formControlName="pedido"
        />
        <span class="noview">{{ pedido.value }}</span>
      </div>
      <div class="col-12 col-sm-5">
        <label name="lblDataEmissao" id="lblDataEmissao" for="data_emissao"
          >Data: </label
        ><input
          pInputText
          class="noprint p-inputtext"
          name="data_emissao"
          id="data_emissao"
          type="text"
          readonly
          [value]="getFormattedValue(data_emissao)"
        />
        <span class="noview">{{
          getFormattedValue(data_emissao)
        }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-8">
        <label name="lblFornecedor" for="fornecedor">Fornecedor: </label
        ><p-autoComplete
          pInputText
          formGroupName="fornecedor"
          class="noprint"
          id="fornecedor"
          name="fornecedor"
          type="text"
          field="pessoa.nome"
          [suggestions]="fornecedores"
          (completeMethod)="searchFornecedor($event)"
          (onSelect)="fornecedor.patchValue($event.value)"
          [dropdown]="true"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
        ></p-autoComplete>
        <span class="noview">{{ fornecedor.value.pessoa?.nome }}</span>
      </div>
      <div formGroupName="fornecedor">
        <div class="col-12 col-sm-4"></div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-8">
          <label name="lblEndereco" for="pEndereco">Endereço:</label>
          <p name="pEndereco">
            {{ fornecedor.value.pessoa?.endereco || "-" }}
          </p>
        </div>
        <div class="col-12 col-sm-4">
          <label name="lblTelefone" for="pTelefone">Telefone</label>
          <p name="pTelefone">
            {{ fornecedor.value.pessoa?.telefone || "-" | telefone }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="input col-4">
          <label name="lblCidade" for="pCidade">Cidade:</label>
          <p name="pCidade">
            {{ fornecedor.value.pessoa?.municipio || "-" }}
          </p>
        </div>
        <div class="input col-4">
          <label name="lblUF" for="pUF">UF:</label>
          <p name="pUF">{{ fornecedor.value.pessoa?.uf || "-" }}</p>
        </div>
        <div class="input col-4">
          <label name="lblCEP" for="pCEP">CEP:</label>
          <p name="pCEP">
            {{ fornecedor.value.pessoa?.cep || "-" | cep }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="input col-8">
          <label name="lblCnpj" for="pCnpj">CNPJ:</label>
          <p name="pCnpj">
            {{ fornecedor.value.pessoa?.cnpj_cpf || "-" | cpfCnpj }}
          </p>
        </div>
        <div class="Input col-4">
          <label name="lblIe" for="pIe">I.E</label>
          <p name="pIe">
            {{ fornecedor.value.pessoa?.ie_rg || "-" | ieRg }}
          </p>
        </div>
      </div>
    </div>
    <p-table
      [value]="pedido_compra_items.controls"
    >
      <ng-template pTemplate="caption"></ng-template>
      <ng-template pTemplate="header">
        <th>Item</th>
        <th>Produto</th>
        <th>Dimensão</th>
        <th>Qtde</th>
        <th>Peso(Kg)</th>
        <th>Preço Unit.</th>
        <th>Ipi</th>
        <th>Total</th>
        <th>Data Entrega</th>
        <th *ngIf="status.value !== 'Orçamento'" class="noprint">Status</th>
        <th *ngIf="status.value !== 'Orçamento'" class="noprint">
          Total Entregue
        </th>
        <th class="noprint">Ação</th>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-index="rowIndex"
        let-rowData
      >
        <tr >
          <td>{{ index + 1 }}.</td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-autoComplete
                  pInputText
                  class="p-autocomplete w-100"
                  name="produto"
                  type="text"
                  formControlName="produto"
                  field="nome"
                  [suggestions]="produtos"
                  (completeMethod)="searchProduto($event)"
                  [dropdown]="true"
                  [style]="{ width: '100%' }"
                  [inputStyle]="{ width: '100%' }"
                  appendTo="body"
                ></p-autoComplete>
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.get("produto").value?.nome }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown
                  name="dimensao"
                  [options]="dimensoes$ | async"
                  formControlName="dimensao"
                  optionLabel="valor"
                  optionValue="valor"
                  [editable]="true"
                  (ngModelChange)="calculaPeso(rowData)"
                  appendTo="body"
                ></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.get("dimensao").value }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  class="p-inputtext"
                  name="quantidade"
                  type="text"
                  [formControlName]="rowData.get('quantidade')"
                  (input)="calculaPeso(rowData)"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ getFormattedValue(rowData.get("quantidade")) }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  class="p-inputtext"
                  name="peso"
                  type="text"
                  [formControlName]="rowData.get('peso')"
                  [value]="getFormattedValue(rowData.get('peso'))"
                  (input)="itemPeso($event, rowData.get('peso'))"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ getFormattedValue(rowData.get('peso')) }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  class="p-inputtext"
                  name="preco"
                  type="text"

                  [formControlName]="rowData.get('preco')"
                  (input)="itemPreco($event, rowData.get('preco'))"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ getFormattedValue(rowData.get('preco')) }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  class="p-inputtext"
                  name="inpItemIpi"
                  type="text"
                  [formControlName]="rowData.get('ipi')"
                  (input)="itemIpi($event, rowData.get('ipi'))"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ getFormattedValue(rowData.get("ipi")) }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            {{ getFormattedValue(rowData.get("total")) }}
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-calendar
                  name="InpItemPrazo"
                  [formControlName]="rowData.get('prazo')"
                  dateFormat="dd/mm/yy"
                  styleClass="w-100"
                  appendTo="body"
                ></p-calendar>
              </ng-template>
              <ng-template pTemplate="output">
                {{ getFormattedValue(rowData.get('prazo')) }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td *ngIf="pedidoCompra.get('status')?.value !== 'Orçamento'" class="noprint">
            <caixaDeStatus
              [status]="rowData.get('status').value"
              [editable]="false"
            ></caixaDeStatus>
          </td>
          <td
            class="text-center"
            *ngIf="pedidoCompra.get('status')?.value !== 'Orçamento'"
            class="noprint"
          >
            <p-knob
              [size]="75"
              [name]="'peso_entregue' + rowData.get('id').value"
              [ngModel]="calculatePesoEntreguePercentage(rowData)"
              [disabled]="true"
              [max]="100"
              [min]="0"
              [valueTemplate]="'{value}%'"
            ></p-knob>
            <small>{{ rowData.get('peso_entregue').value }}Kg</small>
          </td>
          <td class="noprint">
            <i class="pi pi-trash trash" (click)="removeItem(index)"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td>
            <button pButton class="button" (click)="newPedidoCompraItem()" class="noprint">
              <i class="pi pi-plus"></i>
            </button>
          </td>
          <td colspan="1">Condição de Pagamento</td>
          <td colspan="2" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown
                  name="cond_pagamento"
                  [options]="condicaoPagamento$ | async"
                  formControlName="cond_pagamento"
                  optionLabel="valor"
                  optionValue="valor"
                  [editable]="true"
                  appendTo="body"
                ></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ pedidoCompra.get("cond_pagamento")?.value }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>Frete</td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  class="p-inputtext"
                  name="frete"
                  type="text"
                  formControlName="frete"
                  [value]="getFormattedValue(frete)"
                  (input)="frete = $event"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ getFormattedValue(frete) }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>Total</td>
          <td>{{ getFormattedValue(total) }}</td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
    <div>
      <h4>Observações</h4>
      <textarea
        pInputTextarea
        name="txtObs"
        class="noprint"
        formControlName="observacao"
      ></textarea>
      <span class="noview">{{ pedidoCompra.get('observacao')?.value }}</span>
      <h4>Normas de fornecimento do pedido</h4>
      <p>
        1. Horário de Recebimento: de Segunda à Quinta das 7:00h às 11:00h e das
        12:30h às 16:30h Sexta-feira até às 15:30.
      </p>
      <p>2. Pedido de Compra elaborado com peso teórico.</p>
      <p>
        3. Toda e qualquer despesa com embalagem ou frete, estará a cargo do
        fornecedor a não ser quando mencionado no pedido.
      </p>
      <p>
        4. As mercadorias deverão vir acompanhadas da Nota Fiscal (descriminando
        nº pedido de compra) e Duplicatas de cobrança.
      </p>
      <p>
        5. As respectivas faturas e duplicatas deverão ser entregues em nosso
        escritório.
      </p>
      <p>
        6. A JCM Metais reverva-se o direito de devolver mercadorias a qualquer
        tempo por defeito ou desacordo com as especificações, não seja entregue
        no prazo previsto ou não esteja de acordo com as condições estabelecidas
        neste pedido.
      </p>
      <p>
        7. Todos os itens da Nota Fiscal deverá estar com o código de
        classificação fiscal.
      </p>
      <p>
        8. Enviar o certificado de qualidade do material junto com a Matéria
        Prima.
      </p>
      <p>
        9. A JCM Metais monitora o desempenho dos seus provedores externos
        (fornecedores), atraves da avaliação nas entregas dos produtos/serviços
        com pontuação na (Prazo de entrega e Qualidade), quando os resultados
        ficarem abaixo dos objetivos, ações corretivas serão solicitadas para os
        provedores externos (fornecedores).
      </p>
    </div>
    <listaFiles
      class="noprint"
      [files]="files.value"
      (onChangeFiles)="files = $event"
    ></listaFiles>
  </form>
  <div class="noprint">
    <div class="d-flex flex-row">
      <div class="flex-grow-1 justify-content-start">
        <button pButton class="p-button p-button-danger" (click)="confirm()">
          Excluir
        </button>
      </div>
      <button pButton class="p-button p-button-success" type="submit">
        Salvar
      </button>
      <button
        pButton
        type="submit"
        class="p-button p-button-success"
        (click)="status = 'Aprovado'"
        [disabled]="status.value !== 'Orçamento'"
      >
        Aprovar
      </button>
      <button pButton class="p-button" (click)="getBackPedidos()">
        Voltar
      </button>
    </div>

    <p-confirmDialog
      header="Confirmação"
      acceptLabel="Sim"
      rejectLabel="Não"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
  </div>
</div>
