label {
  width: 150px;
  color: #fff !important;
  margin-top: 15px;
}

h2, p, th, h3, h4 {
color: #fff;
}

button {
margin-right: 10px;
}

input, p, textarea {
  width: 100%
}

h4 {
  margin-top: 25px;
}
