

label {
  width: 100%;
  color: #fff !important;
}

h2, p, th, h3, h4, span {
color: #fff;
}

button {
margin-right: 10px;
}

input, p, textarea {
  width: 100%
}

h4 {
  margin-top: 25px;
}

.anchor {
  transform: translate(-50%, -25%);
}

@media print {
  label, small, p, span {
    font-size: xx-small;
    margin: 1px;
    width: auto;
  }
}
