<div>
  <p-accordion [multiple]="true">
    <p-accordionTab header="Pessoa" [selected]="true">
      <form action="" class="container">
        <div class="row">
          <div class="input col-2">
            <label for="InpIdPessoa">Id</label>
            <input
              name="InpIdPessoa"
              class="p-inputtext"
              type="text"
              pInputText
              disabled
              [(ngModel)]="pessoa.id"
            />
          </div>
          <div class="input col-10">
            <label for="InpNome">Nome</label>
            <input
              name="InpNome"
              class="p-inputtext"
              type="text"
              pInputText
              [(ngModel)]="pessoa.nome"
            />
          </div>
          <div class="input col-2">
            <p-checkbox
              name="ChkPessoaJuridica"
              [(ngModel)]="pessoa.pessoa_juridica"
              label="Pessoa Juridica"
              [binary]="true"
              (ngModelChange)="validaCpfCnpj()"
            ></p-checkbox>
          </div>

          <div class="input col-10" *ngIf="pessoa.pessoa_juridica">
            <label for="InpRazaoSocial">Razão Social</label>
            <input
              name="InpRazaoSocial"
              class="p-inputtext"
              type="text"
              pInputText
              [(ngModel)]="pessoa.razao_social"
            />
          </div>
          <div class="input col-4">
            <label for="InpCnpjCpf">
              <span *ngIf="pessoa.pessoa_juridica">CNPJ</span
              ><span *ngIf="!pessoa.pessoa_juridica">CPF</span></label
            >
            <input
              name="InpCnpjCpf"
              class="p-inputtext"
              type="text"
              pInputText
              [ngModel]="pessoa.cnpj_cpf | cpfCnpj"
              [ngClass]="{'ng-erro': cnpj_cpfInvalido.length}"
              (ngModelChange)="pessoa.cnpj_cpf = $event"
              (change)="validaCpfCnpj()"
              [ngClass]="{'cnpjLoading': cnpjLoading}"
              maxlength="18"
            />
            <p-progressSpinner *ngIf="cnpjLoading" [style]="{width: '27px', height: '27px', margin: 'auto'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration="1s"></p-progressSpinner>
            <small class="p-error block" *ngFor="let validacao of cnpj_cpfInvalido">{{validacao.menssagem}}</small>
          </div>
          <div class="input col-4">
            <label for="InpIeRg">
              <span *ngIf="pessoa.pessoa_juridica">Incrição Estadual</span>
              <span *ngIf="!pessoa.pessoa_juridica">RG</span>
            </label>
            <input
              name="InpIeRg"
              class="p-inputtext"
              type="text"
              pInputText
              [ngModel]="pessoa.ie_rg | ieRg"
              (ngModelChange)="pessoa.ie_rg = $event"
              maxlength="15"
            />
          </div>
          <div class="input col-4">
            <label for="InpTelefone">Telefone</label>
            <input
              name="InpTelefone"
              class="p-inputtext"
              type="text"
              pInputText
              [ngModel]="pessoa.telefone | telefone"
              (ngModelChange)="pessoa.telefone = $event"
            />
          </div>
          <div class="input col-6">
            <label for="InpEmail">Email</label>
            <input
              name="InpEmail"
              class="p-inputtext"
              type="text"
              pInputText
              [(ngModel)]="pessoa.email"
            />
          </div>
          <div class="input col-6">
            <label for="InpEmailNFe">Email NFe</label>
            <input
              name="InpEmailNFe"
              class="p-inputtext"
              type="text"
              pInputText
              [(ngModel)]="pessoa.email_nfe"
            />
          </div>
          <div class="input col-3">
            <label for="InpCEP">CEP</label>
            <input
              name="InpCEP"
              class="p-inputtext"
              type="text"
              pInputText
              [ngModel]="pessoa.cep | cep"
              (ngModelChange)="pessoa.cep = $event"
              (change)="consultaCep()"
            />
          </div>
          <div class="input col-9">
            <label for="InpEndereco">Endereço</label>
            <input
              name="InpEndereco"
              class="p-inputtext"
              type="text"
              pInputText
              [(ngModel)]="pessoa.endereco"
            />
          </div>
          <div class="input col-4">
            <label for="InpMunicipio">Cidade</label>
            <input
              name="InpMunicipio"
              class="p-inputtext"
              type="text"
              pInputText
              [(ngModel)]="pessoa.municipio"
            />
          </div>
          <div class="input col-2">
            <label for="InpUF">UF</label>
            <input
              name="InpUF"
              class="p-inputtext"
              type="text"
              pInputText
              [ngModel]="pessoa.uf | uppercase"
              (ngModelChange)="pessoa.uf = $event"
              maxlength="2"
            />
          </div>

          <div class="input col-6">
            <label for="InpDataNasc">
              <span *ngIf="pessoa.pessoa_juridica">Data de fundação</span>
              <span *ngIf="!pessoa.pessoa_juridica">Data de nascimento</span>
            </label>
            <p-calendar
              name="InpDataNasc"
              [(ngModel)]="pessoa.data_nasc"
              dateFormat="dd/mm/yy"
              styleClass="w-100"
            ></p-calendar>
          </div>
          <div class="input">
            <label for="descricaoPessoa">Descrição</label>
            <textarea
              name="descricaoPessoa"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              class="p-inputtextarea"
              [(ngModel)]="pessoa.descricao"
            ></textarea>
          </div>
          <div class="input col-6">
            <label for="InpCreatedAt">Criado em</label>
            <input
              name="InpCreatedAt"
              class="p-inputtext"
              type="text"
              pInputText
              disabled
              value="{{ pessoa.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}"
            />
          </div>
          <div class="input col-6">
            <label for="InpUpdatedAt">Atualizado em</label>
            <input
              name="InpUpdatedAt"
              class="p-inputtext"
              type="text"
              pInputText
              disabled
              value="{{ pessoa.updatedAt | date: 'dd/MM/yyyy HH:mm:ss' }}"
            />
          </div>
          <div>
            <p-table
              *ngIf="pessoa.contatos"
              [value]="pessoa.contatos"
              responsiveLayout="scroll"
            >
              <ng-template pTemplate="caption">
                <div class="d-flex justify-content-between">
                  <h3>Contatos</h3>

                  &nbsp;<button pButton class="p-button" (click)="newContato()">
                    <i class="pi pi-plus"></i>
                  </button>
                </div>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-contato let-i="rowIndex">
                <tr>
                  <td>
                    <input
                      [name]="'InpContatoNome' + i"
                      type="text"
                      class="p-inputtext"
                      pInputText
                      [(ngModel)]="contato.nome"
                    />
                  </td>
                  <td>
                    <p-dropdown name="InpContatoTipo' + i" [options]="categorias$ | async" [editable]="false" [(ngModel)]="contato.tipo" optionLabel="valor" styleClass="w-100" appendTo="body" optionValue="valor"
                    ></p-dropdown>
                  </td>
                  <td>
                    <input
                      [name]="'InpContatoValor' + i"
                      type="text"
                      class="p-inputtext"
                      pInputText
                      [(ngModel)]="contato.valor"
                    />
                  </td>
                  <td>
                    <i class="pi pi-trash trash" (click)="removeContato(i)"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div>
            <p-table
              *ngIf="pessoa.files"
              [value]="pessoa.files"
              responsiveLayout="scroll"
            >
              <ng-template pTemplate="caption">
                <div class="d-flex justify-content-between">
                  <h3>Arquivos</h3>

                  <div>
                    <input
                      type="file"
                      class="file-input"
                      (change)="onFileSelected($event)"
                      #fileUpload
                    />
                    <button
                      pButton
                      class="p-button"
                      (click)="fileUpload.click()"
                    >
                      <i class="pi pi-paperclip"></i>
                    </button>
                  </div>
                </div>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Criado</th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-arquivo let-i="rowIndex">
                <tr>
                  <td>{{ arquivo.id }}</td>
                  <td>
                    <span class="link" (click)="goToUrl(arquivo.id)">{{
                      arquivo.originalFilename
                    }}</span>
                  </td>
                  <td>{{ arquivo.createdAt | date: "dd/MM/yyyy HH:mm:ss" }}</td>
                  <td>
                    <i class="pi pi-trash trash" (click)="removeArquivo(i)"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </form>
    </p-accordionTab>
    <p-accordionTab header="Fornecedor">
      <ng-template pTemplate="header"
        >&nbsp;<button
          pButton
          class="p-button"
          (click)="newFornecedor()"
          *ngIf="!pessoa.fornecedor"
        >
          <i class="pi pi-plus"></i></button
      ></ng-template>
      <ng-template pTemplate="content">
        <form action="d-flex flex-wrap" *ngIf="pessoa.fornecedor">
          <div class="row">
            <div class="input col-2">
              <label for="InpIdFornecedor">Id</label>
              <input
                name="InpIdFornecedor"
                class="p-inputtext"
                type="text"
                pInputText
                [(ngModel)]="pessoa.fornecedor.id"
                disabled
              />
            </div>
            <div class="input col-5">
              <label for="InpDataAprovacao">Data Aprovação</label>
              <p-calendar
                name="InpDataAprovacao"
                [(ngModel)]="pessoa.fornecedor.data_aprov"
                dateFormat="dd/mm/yy"
                styleClass="w-100"
              ></p-calendar>
            </div>
            <div class="input col-5">
              <label for="InpDataVencimento">Data Vencimento</label>
              <p-calendar
                name="InpDataVencimento"
                [(ngModel)]="pessoa.fornecedor.data_venc"
                dateFormat="dd/mm/yy"
                styleClass="w-100"
              ></p-calendar>
            </div>
            <div class="input">
              <label for="descricaoFornecedor">Observações</label>
              <textarea
                name="descricaoFornecedor"
                [rows]="5"
                [cols]="30"
                pInputTextarea
                class="p-inputtextarea"
                [(ngModel)]="pessoa.fornecedor.observacao"
              ></textarea>
            </div>
            <div class="input col-6">
              <label for="InpCreatedAtFornecedor">Criado em</label>
              <input
                name="InpCreatedAtFornecedor"
                class="p-inputtext"
                type="text"
                pInputText
                value="{{
                  pessoa.fornecedor.createdAt | date: 'dd/MM/yyyy HH:mm:ss'
                }}"
                disabled
              />
            </div>
            <div class="input col-6">
              <label for="InpUpdatedAtFornecedor">Atualizado em</label>
              <input
                name="InpUpdatedAtFornecedor"
                class="p-inputtext"
                type="text"
                pInputText
                value="{{
                  pessoa.fornecedor.updatedAt | date: 'dd/MM/yyyy HH:mm:ss'
                }}"
                disabled
              />
            </div>
          </div></form
      ></ng-template>
    </p-accordionTab>
    <p-accordionTab header="Operador">
      <ng-template pTemplate="header"
        >&nbsp;<button
          pButton
          class="p-button"
          (click)="newOperador()"
          *ngIf="!pessoa.operador"
        >
          <i class="pi pi-plus"></i></button
      ></ng-template>
      <ng-template pTemplate="content"
        ><form action="" class="d-flex flex-wrap" *ngIf="pessoa.operador">
          <div class="row">
            <div class="input col-4">
              <label for="InpIdOperador">Id</label>
              <input
                name="InpIdOperador"
                class="p-inputtext"
                type="text"
                pInputText
                disabled
                [(ngModel)]="pessoa.operador.id"
              />
            </div>
            <div class="input col-4">
              <label for="InpCreatedAtOperador">Criado em</label>
              <input
                name="InpCreatedAtOperador"
                class="p-inputtext"
                type="text"
                pInputText
                value="{{
                  pessoa.operador.createdAt | date: 'dd/MM/yyyy HH:mm:ss'
                }}"
                disabled
              />
            </div>
            <div class="input col-4">
              <label for="InpUpdatedAtOperador">Atualizado em</label>
              <input
                name="InpUpdatedAtOperador"
                class="p-inputtext"
                type="text"
                pInputText
                value="{{
                  pessoa.operador.updatedAt | date: 'dd/MM/yyyy HH:mm:ss'
                }}"
                disabled
              />
            </div>
          </div></form
      ></ng-template>
    </p-accordionTab>

    <p-accordionTab header="Vendedor">
      <ng-template pTemplate="header"
        >&nbsp;<button
          pButton
          class="p-button"
          (click)="newVendedor()"
          *ngIf="!pessoa.vendedor"
        >
          <i class="pi pi-plus"></i></button
      ></ng-template>
      <ng-template pTemplate="content"
        ><form action="" class="d-flex flex-wrap" *ngIf="pessoa.vendedor">
          <div class="row">
            <div class="input col-4">
              <label for="InpIdVendedor">Id</label>
              <input
                name="InpIdVendedor"
                class="p-inputtext"
                type="text"
                pInputText
                disabled
                [(ngModel)]="pessoa.vendedor.id"
              />
            </div>
            <div class="input col-4">
              <label for="InpCreatedAtVendedor">Criado em</label>
              <input
                name="InpCreatedAtVendedor"
                class="p-inputtext"
                type="text"
                pInputText
                value="{{
                  pessoa.vendedor.createdAt | date: 'dd/MM/yyyy HH:mm:ss'
                }}"
                disabled
              />
            </div>
            <div class="input col-4">
              <label for="InpUpdatedAtVendedor">Atualizado em</label>
              <input
                name="InpUpdatedAtVendedor"
                class="p-inputtext"
                type="text"
                pInputText
                value="{{
                  pessoa.vendedor.updatedAt | date: 'dd/MM/yyyy HH:mm:ss'
                }}"
                disabled
              />
            </div>
          </div></form
      ></ng-template>
    </p-accordionTab>
  </p-accordion>
</div>
<button pButton class="p-button p-button-danger" (click)="confirm()">
  Excluir
</button>
<button pButton class="p-button p-button-success" (click)="createOrUpdate()">
  Salvar
</button>
<button pButton class="p-button" (click)="getBackPessoas()">Voltar</button>
<p-confirmDialog
  header="Confirmação"
  acceptLabel="Sim"
  rejectLabel="Não"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
