.p-float-label {
  margin-bottom: 20px;
}

.p-float-label label {
  margin-left: 10px
}

input, .p-calendar, textarea {
  width: 100%
}

.w-100{
  width: 100% !important
}

p-checkbox{
  margin-top: 25px;
}

h3 {
  vertical-align: middle;
}

button {
  margin-top: 10px;
  margin-right: 10px;
}


.ng-erro{
  border-color: #f19ea6 !important;
}

small {
  font-size: 10px;
  font-style: italic;
}

td{
  vertical-align: middle;
}

.cnpjLoading{
  width: 90%;
}

.file-input {
  display: none;
}
