<div>
  <p-accordion [multiple]="true">
    <p-accordionTab header="Pessoa" [selected]="true">
      <form action="" class="d-flex flex-wrap">
        <div class="input">
          <label for="InpIdPessoa">Id</label>
          <input
            name="InpIdPessoa"
            class="p-inputtext col-1"
            type="text"
            pInputText
            disabled
            [(ngModel)]="pessoa.id"
          />
        </div>
        <div class="input">
          <label for="InpNome">Nome</label>
          <input
            name="InpNome"
            class="p-inputtext"
            type="text"
            pInputText
            [(ngModel)]="pessoa.nome"
          />
        </div>

        <div class="input">
          <p-checkbox
            name="ChkPessoaJuridica"
            [(ngModel)]="pessoa.pessoa_juridica"
            label="Pessoa Juridica"
            [binary]="true"
          ></p-checkbox>
        </div>

        <div class="input" *ngIf="pessoa.pessoa_juridica">
          <label for="InpRazaoSocial">Razão Social</label>
          <input
            name="InpRazaoSocial"
            class="p-inputtext"
            type="text"
            pInputText
            [(ngModel)]="pessoa.razao_social"
          />
        </div>

        <div class="input">
          <label for="InpTelefone">Telefone</label>
          <input
            name="InpTelefone"
            class="p-inputtext"
            type="text"
            pInputText
            [ngModel]="pessoa.telefone | telefone"
            (ngModelChange)="pessoa.telefone = $event"
          />
        </div>
        <div class="input">
          <label for="InpEmail">Email</label>
          <input
            name="InpEmail"
            class="p-inputtext"
            type="text"
            pInputText
            [(ngModel)]="pessoa.email"
          />
        </div>
        <div class="input">
          <label for="InpEmailNFe">Email NFe</label>
          <input
            name="InpEmailNFe"
            class="p-inputtext"
            type="text"
            pInputText
            [(ngModel)]="pessoa.email_nfe"
          />
        </div>
        <div class="input">
          <label for="InpCEP">CEP</label>
          <input
            name="InpCEP"
            class="p-inputtext"
            type="text"
            pInputText
            [(ngModel)]="pessoa.cep"
          />
        </div>
        <div class="input">
          <label for="InpEndereco">Endereço</label>
          <input
            name="InpEndereco"
            class="p-inputtext"
            type="text"
            pInputText
            [(ngModel)]="pessoa.endereco"
          />
        </div>
        <div class="input">
          <label for="InpMunicipio">Cidade</label>
          <input
            name="InpMunicipio"
            class="p-inputtext"
            type="text"
            pInputText
            [(ngModel)]="pessoa.municipio"
          />
        </div>
        <div class="input">
          <label for="InpUF">UF</label>
          <input
            name="InpUF"
            class="p-inputtext"
            type="text"
            pInputText
            [ngModel]="pessoa.uf | uppercase"
            (ngModelChange)="pessoa.uf = $event"
            maxlength="2"
          />
        </div>
        <div class="input">
          <label for="InpCnpjCpf">CNPJ / CPF</label>
          <input
            name="InpCnpjCpf"
            class="p-inputtext"
            type="text"
            pInputText
            [ngModel]="pessoa.cnpj_cpf | cpfCnpj"
            (ngModelChange)="pessoa.cnpj_cpf = $event"
            maxlength="18"
          />
        </div>
        <div class="input">
          <label for="InpIeRg">Incrição Estadual / RG</label>
          <input
            name="InpIeRg"
            class="p-inputtext"
            type="text"
            pInputText
            [ngModel]="pessoa.ie_rg | ieRg"
            (ngModelChange)="pessoa.ie_rg = $event"
            maxlength="15"
          />
        </div>
        <div class="input">
          <label for="InpDataNasc">Data de fundação / nascimento</label>
          <p-calendar
            name="InpDataNasc"
            [(ngModel)]="pessoa.data_nasc"
            dateFormat="dd.mm.yy"
          ></p-calendar>
        </div>
        <div class="input">
          <label for="descricaoPessoa">Descrição</label>
          <textarea
            name="descricaoPessoa"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            class="p-inputtextarea"
            [(ngModel)]="pessoa.descricao"
          ></textarea>
        </div>
        <div class="input">
          <label for="InpCreatedAt">Criado em</label>
          <input
            name="InpCreatedAt"
            class="p-inputtext"
            type="text"
            pInputText
            value="{{ pessoa.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}"
          />
        </div>
        <div class="input">
          <label for="InpUpdatedAt">Atualizado em</label>
          <input
            name="InpUpdatedAt"
            class="p-inputtext"
            type="text"
            pInputText
            value="{{ pessoa.updatedAt | date: 'dd/MM/yyyy HH:mm:ss' }}"
          />
        </div>
      </form>
    </p-accordionTab>
    <p-accordionTab header="Fornecedor">
      <ng-template pTemplate="header"
        >&nbsp;<button
          pButton
          class="p-button"
          (click)="newFornecedor()"
          *ngIf="!pessoa.fornecedor"
        >
          <i class="pi pi-plus"></i></button
      ></ng-template>
      <ng-template pTemplate="content"
        ><form action="d-flex flex-wrap" *ngIf="pessoa.fornecedor">
          <div class="input">
            <label for="InpIdFornecedor">Id</label>
            <input
              name="InpIdFornecedor"
              class="p-inputtext"
              type="text"
              pInputText
              [(ngModel)]="pessoa.fornecedor.id"
            />
          </div>
          <div class="input">
            <label for="InpDataAprovacao">Data Aprovação</label>
            <p-calendar
              name="InpDataAprovacao"
              [(ngModel)]="pessoa.fornecedor.data_aprov"
              dateFormat="dd.mm.yy"
            ></p-calendar>
          </div>
          <div class="input">
            <label for="InpDataVencimento">Data Vencimento</label>
            <p-calendar
              name="InpDataVencimento"
              [(ngModel)]="pessoa.fornecedor.data_venc"
              dateFormat="dd.mm.yy"
            ></p-calendar>
          </div>
          <div class="input">
            <label for="descricaoFornecedor">Observações</label>
            <textarea
              name="descricaoFornecedor"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              class="p-inputtextarea"
              [(ngModel)]="pessoa.fornecedor.observacao"
            ></textarea>
          </div>
          <div class="input">
            <label for="InpCreatedAtFornecedor">Criado em</label>
            <input
              name="InpCreatedAtFornecedor"
              class="p-inputtext"
              type="text"
              pInputText
              value="{{
                pessoa.fornecedor.createdAt | date: 'dd/MM/yyyy HH:mm:ss'
              }}"
            />
          </div>
          <div class="input">
            <label for="InpUpdatedAtFornecedor">Atualizado em</label>
            <input
              name="InpUpdatedAtFornecedor"
              class="p-inputtext"
              type="text"
              pInputText
              value="{{
                pessoa.fornecedor.updatedAt | date: 'dd/MM/yyyy HH:mm:ss'
              }}"
            />
          </div></form
      ></ng-template>
    </p-accordionTab>
    <p-accordionTab header="Operador">
      <ng-template pTemplate="header"
        >&nbsp;<button
          pButton
          class="p-button"
          (click)="newOperador()"
          *ngIf="!pessoa.operador"
        >
          <i class="pi pi-plus"></i></button
      ></ng-template>
      <ng-template pTemplate="content"
        ><form action="" class="d-flex flex-wrap" *ngIf="pessoa.operador">
          <div class="input">
            <label for="InpIdOperador">Id</label>
            <input
              name="InpIdOperador"
              class="p-inputtext"
              type="text"
              pInputText
            />
          </div>
          <div class="input">
            <label for="InpCreatedAtOperador">Criado em</label>
            <input
              name="InpCreatedAtOperador"
              class="p-inputtext"
              type="text"
              pInputText
            />
          </div>
          <div class="input">
            <label for="InpUpdatedAtOperador">Atualizado em</label>
            <input
              name="InpUpdatedAtOperador"
              class="p-inputtext"
              type="text"
              pInputText
            />
          </div></form
      ></ng-template>
    </p-accordionTab>

    <p-accordionTab header="Vendedor">
      <ng-template pTemplate="header"
        >&nbsp;<button
          pButton
          class="p-button"
          (click)="newVendedor()"
          *ngIf="!pessoa.vendedor"
        >
          <i class="pi pi-plus"></i></button
      ></ng-template>
      <ng-template pTemplate="content"
        ><form action="" class="d-flex flex-wrap" *ngIf="pessoa.vendedor">
          <div class="input">
            <label for="InpIdVendedor">Id</label>
            <input
              name="InpIdVendedor"
              class="p-inputtext"
              type="text"
              pInputText
            />
          </div>
          <div class="input">
            <label for="InpCreatedAtVendedor">Criado em</label>
            <input
              name="InpCreatedAtVendedor"
              class="p-inputtext"
              type="text"
              pInputText
            />
          </div>
          <div class="input">
            <label for="InpUpdatedAtVendedor">Atualizado em</label>
            <input
              name="InpUpdatedAtVendedor"
              class="p-inputtext"
              type="text"
              pInputText
            />
          </div></form
      ></ng-template>
    </p-accordionTab>
  </p-accordion>
</div>
<button pButton class="p-button p-button-danger" (click)="confirm()">
  Excluir
</button>
<button pButton class="p-button p-button-success" (click)="createOrUpdate()">
  Salvar
</button>
<button pButton class="p-button" (click)="getBackPessoas()">Voltar</button>
<p-confirmDialog
  header="Confirmação"
  acceptLabel="Sim"
  rejectLabel="Não"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
