.p-float-label {
  margin-bottom: 20px;
}

.p-float-label label {
  margin-left: 10px
}

input, p-calendar, textarea {
  width: 100%
}

p-calendar{
  max-width: none;
}

p-checkbox{
  margin-top: 25px;
}

h3 {
  vertical-align: middle;
}

button {
  margin-top: 10px;
  margin-right: 10px;
}

.file-input {
  display: none;
}
