<div *ngIf="editable == false && status">
  <div
    class="caixa"
    [ngClass]="{
      statusGreen: status == 'Aprovado',
      statusYellow: status == 'Orçamento',
      statusRed: status == 'Cancelado' || status == 'Recusado',
      statusBlue: status == 'Entregue' || status == 'Venda',
      statusPurple: status == 'Entregue Parcial'
    }"
  >
    <p>{{ status }}</p>
  </div>
</div>
<div *ngIf="editable === true">
  <div
    class="caixa"
    [ngClass]="{
      statusGreen: status == 'Aprovado',
      statusYellow: status == 'Orçamento',
      statusRed: status == 'Cancelado' || status == 'Recusado',
      statusBlue: status == 'Entregue' || status == 'Venda',
      statusPurple: status == 'Entregue Parcial'
    }"
  >
    <select #standardselect name="standard-select" id="standard-select" [ngModel]="status" (ngModelChange)="onChangeStatus($event)">
      <option *ngFor="let option of options" [ngValue]="option.valor">
        {{ option.valor }}
      </option>
    </select>
    <i class="pi pi-angle-down" (click)="standardselect.click()"></i>
  </div>
</div>
