
p-menubar img{
  height: 48px;
 }

 :host ::ng-deep {
  .favicon-icon {
      width: 32px;
      height: 32px;
      background-image: url("../../../favicon.ico");
      background-size: 32px 32px;
  }
}
