
p-menubar img{
  height: 48px;
 }

 :host ::ng-deep .favicon-icon {
      width: 32px;
      height: 32px;
      background-image: url("/src/favicon.ico");
      background-size: 32px 32px;
  }


body {
  background-color: #20262e;

  height: 100%;
  min-height: 100%;
  color: white
}
html {
  height: 100%;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

label {
  width: 100%;
  margin-top: 5px;
  font-size: small;
}

input, p, textarea {
  width: 100%
}

h4 {
  margin-top: 25px;
}

p {
  margin-bottom: 5px;
}

.page {
  padding: 1cm;
  margin: auto;
  border-radius: 5px;
  background: #2a323d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.trash {
  cursor: pointer;
}

.p-datatable{
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  padding: 5px;
}

.noview {
  display: none;
}

.p-card {
  background: #343e4d;
  display: flex;
  flex-direction: column;
  height: 100%
}

.p-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

fieldset {
  border: 1px solid #343e4d;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-top: 20px;
}

fieldset legend {
  position: absolute;
  top: -10px;
  left: 10px;
  background: #343e4d;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 1em;
  width: auto
}

@media print {
  * {
    color: black !important;
    border-color: black !important;
  }

  h4 {
    margin: 1px;
    font-size: medium;
  }

  h2 {
    margin: 1px;
    font-size: large;
  }

  label, small, p, span {
    font-size: xx-small;
    margin: 1px;
    width: auto;
  }

  .container {
    padding: 0;
    margin: 0;
  }

  .page{

    padding: 0;
    margin: 1.5cm;

    padding-right: 0;
    margin-right: 0;

    box-shadow: none
  }

  .row {
    width: 100%;
  }

  .noprint {
    display: none;
  }

  .noview {
    display: inline;
  }

  .p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  font-size: x-small;
}

.h-12{
  height: 12px;
}

.dontBreakPage {
  page-break-inside: avoid;
}

.pageBreakAfter {
  page-break-after: always;
}

.p-card {
    width: 100%;
    height: 100%;
}

.p-card-body {
    height: 100%;
    display: flex;
    page-break-inside: avoid;
}

.page {
  padding: 0cm;
  margin: 0;
  border-radius: 0px;
  background: #2a323d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

}
