<p-table 
  #dt 
  [value]="fornecedores"
  [paginator]="true"
  [rows]="25"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} fornecedores"
  [rowsPerPageOptions]="[10, 25, 50]"
  [globalFilterFields]="['nome']"
  [selection]="true"
  responsiveLayout="scroll">

    <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
            pInputText
            class="p-inputtext"
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Search keyword"
            />
        </span>
        <button pButton class="button" (click)="new()">
            <i class="pi pi-plus"></i>
        </button>
        </div>
    </ng-template>
  
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Data Aprovação</th>
            <th>Data Vencimento</th>
            <th>Observações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fornecedor>
        <tr [routerLink]="fornecedor.id">
            <td>{{fornecedor.id}}</td>
            <td>{{fornecedor.data_aprov}}</td>
            <td>{{fornecedor.data_venc}}</td>
            <td>{{fornecedor.observacao}}</td>
        </tr>
    </ng-template>
</p-table>