<div #ishikawaContainer class="ishikawaContainer">
  <svg
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  [attr.width]="width"
  [attr.height]="height"
  viewBox="-5 -5 187.780 86.383"

  version="1.1"
  id="svg8"
>
  <defs id="defs2" />
  <g id="layer1">
    <text
      xml:space="preserve"
      style="
        font-size: 2.11667px;
        line-height: 1.25;
        font-family: sans-serif;
        stroke-width: 0.264583;
      "
      x="25.135416"
      y="32.978424"
      id="text1086"
    >
      <tspan
        id="tspan1084"
        x="25.135416"
        y="32.978424"
        style="font-size: 2.11667px; stroke-width: 0.264583"
      />
    </text>
    <g id="g2207" transform="translate(3.5901753,-19)">
      <path
        style="
          fill: none;
          stroke-width: 0.609691px;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-opacity: 1;
        "
        d="M 1.5305386,58.07864 H 145.03477"
        id="path195-7"
      />
      <path
        style="
          fill: none;
          stroke-width: 0.310854px;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-opacity: 1;
        "
        d="M 56.901676,20.774113 V 58.078638"
        id="path195"
      />
      <path
        style=" stroke-width: 0.264583"
        id="path199"
        d="m 56.901676,58.078638 -0.327337,-0.566965 -0.327337,-0.566964 0.654674,0 0.654674,0 -0.327337,0.566964 z"
      />
      <text
        xml:space="preserve"
        style="
          font-style: normal;
          font-weight: normal;
          font-size: 4.23333px;
          line-height: 1.25;
          font-family: sans-serif;

          fill-opacity: 1;
          stroke: none;
          stroke-width: 0.264583;
        "
        x="20.891224"
        y="-52.59745"
        id="text1080"
        transform="rotate(90)"
      >
        <tspan
          id="tspan1078"
          x="20.891224"
          y="-52.59745"
          style="font-size: 4.23333px; stroke-width: 0.264583"
        >
          Método
        </tspan>
      </text>
      <text
        xml:space="preserve"
        style="
          font-size: 2.82223px;
          line-height: 1.25;
          font-family: sans-serif;
          stroke-width: 0.264583;
        "
        x="57.826469"
        y="21.192465"
        id="text1090"
      >
        <tspan
          x="57.826469"
          y="21.192465"
          style="stroke-width: 0.264583"
          id="tspan1110"
        >
          Procedimento
        </tspan>
        <tspan
          x="57.826469"
          y="24.720253"
          style="stroke-width: 0.264583"
          id="tspan1753"
        >
          Instrução
        </tspan>
        <tspan
          x="57.826469"
          y="28.248039"
          style="stroke-width: 0.264583"
          id="tspan1755"
        >
          Velocidade
        </tspan>
        <tspan
          x="57.826469"
          y="31.775827"
          style="stroke-width: 0.264583"
          id="tspan1757"
        >
          Repetição
        </tspan>
        <tspan
          x="57.826469"
          y="35.303616"
          style="stroke-width: 0.264583"
          id="tspan1759"
        >
          Especeficação Inexistente/Incorreta
        </tspan>
        <tspan
          x="57.826469"
          y="38.831402"
          style="stroke-width: 0.264583"
          id="tspan1761"
        >
          Sequencia de Operações Incorretas
        </tspan>
        <tspan
          x="57.826469"
          y="42.359192"
          style="stroke-width: 0.264583"
          id="tspan1763"
        >
          Falta de Treinamento
        </tspan>
        <tspan
          x="57.826469"
          y="45.886978"
          style="stroke-width: 0.264583"
          id="tspan1765"
        >
          Outro
        </tspan>
      </text>
      <path
        style="
          fill: none;
          stroke-width: 0.310854px;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-opacity: 1;
        "
        d="M 112.27281,20.774113 V 58.078638"
        id="path195-6"
      />
      <path
        style=" stroke-width: 0.264583"
        id="path199-7"
        d="m 112.27281,58.078638 -0.32734,-0.566965 -0.32733,-0.566964 0.65467,0 0.65468,0 -0.32734,0.566964 z"
      />
      <text
        xml:space="preserve"
        style="
          font-style: normal;
          font-weight: normal;
          font-size: 4.23333px;
          line-height: 1.25;
          font-family: sans-serif;

          fill-opacity: 1;
          stroke: none;
          stroke-width: 0.264583;
        "
        x="20.891224"
        y="-107.96859"
        id="text1080-8"
        transform="rotate(90)"
      >
        <tspan
          id="tspan1078-3"
          x="20.891224"
          y="-107.96859"
          style="font-size: 4.23333px; stroke-width: 0.264583"
        >
          Matéria Prima
        </tspan>
      </text>
      <text
        xml:space="preserve"
        style="
          font-size: 2.82223px;
          line-height: 1.25;
          font-family: sans-serif;
          stroke-width: 0.264583;
        "
        x="113.19761"
        y="21.192465"
        id="text1090-2"
      >
        <tspan
          x="113.19761"
          y="21.192465"
          style="stroke-width: 0.264583"
          id="tspan1110-6"
        >
          Material
        </tspan>
        <tspan
          x="113.19761"
          y="24.720253"
          style="stroke-width: 0.264583"
          id="tspan1832"
        >
          Produto
        </tspan>
      </text>
      <path
        style="
          fill: none;
          stroke-width: 0.310854px;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-opacity: 1;
        "
        d="M 1.5305386,58.07864 V 95.383165"
        id="path195-9"
      />
      <path
        style=" stroke-width: 0.264583"
        id="path199-0"
        d="m 1.5305386,-58.078638 -0.327337,-0.566965 -0.32733705,-0.566964 0.65467405,0 0.6546739,0 -0.327337,0.566964 z"
        transform="scale(1,-1)"
      />
      <text
        xml:space="preserve"
        style="
          font-style: normal;
          font-weight: normal;
          font-size: 4.23333px;
          line-height: 1.25;
          font-family: sans-serif;

          fill-opacity: 1;
          stroke: none;
          stroke-width: 0.264583;
        "
        x="58.195751"
        y="2.7736883"
        id="text1080-5"
        transform="rotate(90)"
      >
        <tspan
          id="tspan1078-9"
          x="58.195751"
          y="2.7736883"
          style="font-size: 4.23333px; stroke-width: 0.264583"
        >
          Medição
        </tspan>
      </text>
      <text
        xml:space="preserve"
        style="
          font-size: 2.82223px;
          line-height: 1.25;
          font-family: sans-serif;
          stroke-width: 0.264583;
        "
        x="2.4553323"
        y="62.192467"
        id="text1090-6"
      >
        <tspan
          x="2.4553323"
          y="62.192467"
          style="stroke-width: 0.264583"
          id="tspan1110-9"
        >
          Defeito
        </tspan>
        <tspan
          x="2.4553323"
          y="65.720253"
          style="stroke-width: 0.264583"
          id="tspan1899"
        >
          Falta de calibração dos
        </tspan>
        <tspan
          x="2.4553323"
          y="69.248039"
          style="stroke-width: 0.264583"
          id="tspan1901"
        >
          instrumentos / dispositivos
        </tspan>
        <tspan
          x="2.4553323"
          y="72.775833"
          style="stroke-width: 0.264583"
          id="tspan1903"
        >
          Equipamento Inadequado p/ o
        </tspan>
        <tspan
          x="2.4553323"
          y="76.303619"
          style="stroke-width: 0.264583"
          id="tspan1905"
        >
          processo de medição
        </tspan>
        <tspan
          x="2.4553323"
          y="79.831406"
          style="stroke-width: 0.264583"
          id="tspan1907"
        >
          Outro
        </tspan>
      </text>
      <path
        style="
          fill: none;
          stroke-width: 0.310854px;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-opacity: 1;
        "
        d="M 56.901677,58.07864 V 95.383165"
        id="path195-0"
      />
      <text
        xml:space="preserve"
        style="
          font-style: normal;
          font-weight: normal;
          font-size: 4.23333px;
          line-height: 1.25;
          font-family: sans-serif;

          fill-opacity: 1;
          stroke: none;
          stroke-width: 0.264583;
        "
        x="58.195751"
        y="-52.59745"
        id="text1080-3"
        transform="rotate(90)"
      >
        <tspan
          id="tspan1078-92"
          x="58.195751"
          y="-52.59745"
          style="font-size: 4.23333px; stroke-width: 0.264583"
        >
          Máquina
        </tspan>
      </text>
      <text
        xml:space="preserve"
        style="
          font-size: 2.82223px;
          line-height: 1.25;
          font-family: sans-serif;
          stroke-width: 0.264583;
        "
        x="57.826469"
        y="62.192467"
        id="text1090-4"
      >
        <tspan
          x="57.826469"
          y="62.192467"
          style="stroke-width: 0.264583"
          id="tspan1110-8"
        >
          Localização
        </tspan>
        <tspan
          x="57.826469"
          y="65.720253"
          style="stroke-width: 0.264583"
          id="tspan1974"
        >
          Vida Útil
        </tspan>
        <tspan
          x="57.826469"
          y="69.248039"
          style="stroke-width: 0.264583"
          id="tspan1976"
        >
          Manutenção
        </tspan>
        <tspan
          x="57.826469"
          y="72.775833"
          style="stroke-width: 0.264583"
          id="tspan1980"
        >
          Funcionamento inadequado
        </tspan>
        <tspan
          x="57.826469"
          y="76.303619"
          style="stroke-width: 0.264583"
          id="tspan1984"
        >
          Baixa Capacidade
        </tspan>
        <tspan
          x="57.826469"
          y="79.831406"
          style="stroke-width: 0.264583"
          id="tspan1986"
        >
          Queda de energia
        </tspan>
        <tspan
          x="57.826469"
          y="83.359192"
          style="stroke-width: 0.264583"
          id="tspan1988"
        >
          Ferramental
        </tspan>
        <tspan
          x="57.826469"
          y="86.886978"
          style="stroke-width: 0.264583"
          id="tspan1990"
        >
          Outro
        </tspan>
      </text>
      <path
        style="
          fill: none;
          stroke-width: 0.310854px;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-opacity: 1;
        "
        d="M 112.27281,58.07864 V 95.383165"
        id="path195-5"
      />
      <text
        xml:space="preserve"
        style="
          font-style: normal;
          font-weight: normal;
          font-size: 4.23333px;
          line-height: 1.25;
          font-family: sans-serif;

          fill-opacity: 1;
          stroke: none;
          stroke-width: 0.264583;
        "
        x="58.195751"
        y="-107.96858"
        id="text1080-2"
        transform="rotate(90)"
      >
        <tspan
          id="tspan1078-26"
          x="58.195751"
          y="-107.96858"
          style="font-size: 4.23333px; stroke-width: 0.264583"
        >
          Meio Ambiente
        </tspan>
      </text>
      <text
        xml:space="preserve"
        style="
          font-size: 2.82223px;
          line-height: 1.25;
          font-family: sans-serif;
          stroke-width: 0.264583;
        "
        x="113.19761"
        y="62.192467"
        id="text1090-5"
      >
        <tspan
          x="113.19761"
          y="62.192467"
          style="stroke-width: 0.264583"
          id="tspan1110-5"
        >
          Temperatura
        </tspan>
        <tspan
          x="113.19761"
          y="65.720253"
          style="stroke-width: 0.264583"
          id="tspan2059"
        >
          Umidade Relativa
        </tspan>
        <tspan
          x="113.19761"
          y="69.248039"
          style="stroke-width: 0.264583"
          id="tspan2063"
        >
          Iluminação
        </tspan>
        <tspan
          x="113.19761"
          y="72.775833"
          style="stroke-width: 0.264583"
          id="tspan2065"
        >
          Poluição Sonora
        </tspan>
        <tspan
          x="113.19761"
          y="76.303619"
          style="stroke-width: 0.264583"
          id="tspan2067"
        >
          Poluição do Ar
        </tspan>
        <tspan
          x="113.19761"
          y="79.831406"
          style="stroke-width: 0.264583"
          id="tspan2069"
        >
          Poluição Superficial
        </tspan>
        <tspan
          x="113.19761"
          y="83.359192"
          style="stroke-width: 0.264583"
          id="tspan2071"
        >
          Sujeiras
        </tspan>
        <tspan
          x="113.19761"
          y="86.886978"
          style="stroke-width: 0.264583"
          id="tspan2073"
        >
          Outro
        </tspan>
      </text>
      <path
        style="
          fill: none;
          stroke-width: 0.310854px;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-opacity: 1;
        "
        d="M 1.530538,20.774113 V 58.078638"
        id="path195-07"
      />
      <path
        style=" stroke-width: 0.264583"
        id="path199-9"
        d="m 1.5305386,58.078638 -0.327337,-0.566965 -0.32733705,-0.566964 0.65467405,0 0.6546739,0 -0.327337,0.566964 z"
      />
      <text
        xml:space="preserve"
        style="
          font-style: normal;
          font-weight: normal;
          font-size: 4.23333px;
          line-height: 1.25;
          font-family: sans-serif;

          fill-opacity: 1;
          stroke: none;
          stroke-width: 0.264583;
        "
        x="20.891224"
        y="2.7736893"
        id="text1080-34"
        transform="rotate(90)"
      >
        <tspan
          id="tspan1078-91"
          x="20.891224"
          y="2.7736893"
          style="font-size: 4.23333px; stroke-width: 0.264583"
        >
          Mão de Obra
        </tspan>
      </text>
      <text
        xml:space="preserve"
        style="
          font-size: 2.82223px;
          line-height: 1.25;
          font-family: sans-serif;
          stroke-width: 0.264583;
        "
        x="2.4553318"
        y="21.192465"
        id="text1090-20"
      >
        <tspan
          id="tspan1088-4"
          x="2.4553318"
          y="21.192465"
          style="stroke-width: 0.264583"
        >
          Qualificação
        </tspan>
        <tspan
          x="2.4553318"
          y="24.720253"
          style="stroke-width: 0.264583"
          id="tspan1092-83"
        >
          Fadiga (Cansaço)
        </tspan>
        <tspan
          x="2.4553318"
          y="28.248039"
          style="stroke-width: 0.264583"
          id="tspan1094-82"
        >
          Ergonomia
        </tspan>
        <tspan
          x="2.4553318"
          y="31.775827"
          style="stroke-width: 0.264583"
          id="tspan1096-9"
        >
          Reforçar treinamento
        </tspan>
        <tspan
          x="2.4553318"
          y="35.303616"
          style="stroke-width: 0.264583"
          id="tspan1098-08"
        >
          Motivação
        </tspan>
        <tspan
          x="2.4553318"
          y="38.831402"
          style="stroke-width: 0.264583"
          id="tspan1100-954"
        >
          Segurança
        </tspan>
        <tspan
          x="2.4553318"
          y="42.359192"
          style="stroke-width: 0.264583"
          id="tspan1102-40"
        >
          Preparação de Máquina
        </tspan>
        <tspan
          x="2.4553318"
          y="45.886978"
          style="stroke-width: 0.264583"
          id="tspan1104-06"
        >
          Alta Rotatividade
        </tspan>
        <tspan
          x="2.4553318"
          y="49.414764"
          style="stroke-width: 0.264583"
          id="tspan1106-16"
        >
          Relacionamento Chefia
        </tspan>
        <tspan
          x="2.4553318"
          y="52.942554"
          style="stroke-width: 0.264583"
          id="tspan1108-5"
        >
          Falha Pontual - (Treinamento OK)
        </tspan>
        <tspan
          x="2.4553318"
          y="56.470341"
          style="stroke-width: 0.264583"
          id="tspan1110-4"
        >
          Outro
        </tspan>
      </text>
      <path
        style=" stroke-width: 0.264583"
        id="path199-0-9"
        transform="scale(1,-1)"
        d="m 56.901676,-58.078638 -0.327337,-0.566965 -0.327337,-0.566964 0.654674,0 0.654674,0 -0.327337,0.566964 z"
      />
      <path
        style=" stroke-width: 0.264583"
        id="path199-0-5"
        transform="scale(1,-1)"
        d="m 112.27281,-58.078638 -0.32734,-0.566965 -0.32733,-0.566964 0.65467,0 0.65468,0 -0.32734,0.566964 z"
      />
      <path
        style=" stroke-width: 0.264583"
        id="path199-2-8"
        transform="matrix(0,-1.2991592,1.1326687,0,76.214192,79.56213)"
        d="m 16.536457,60.759672 -0.327337,-0.566965 -0.327337,-0.566964 0.654674,0 0.654674,0 -0.327337,0.566964 z"
      />
      <rect
        style="opacity: 1; fill: none; stroke-width: 0.281893"
        id="rect2120"
        width="28.141914"
        height="12.455904"
        x="145.90746"
        y="51.980381"
      />
      <text
        xml:space="preserve"
        style="
          font-size: 2.82223px;
          line-height: 1.25;
          font-family: sans-serif;
          stroke-width: 0.264583;
        "
        x="146.92464"
        y="57.511677"
        id="text2124"
      >
        <tspan
          id="tspan2122"
          x="146.92464"
          y="57.511677"
          style="stroke-width: 0.264583"
        >
          Problema :
        </tspan>
        <tspan
          x="146.92464"
          y="61.039463"
          style="stroke-width: 0.264583"
          id="tspan2126"
        >
          (Conforme item 1)
        </tspan>
      </text>
    </g>
  </g>
</svg>
</div>

