<div class="flex">
  <a
    *ngIf="link; else btWhatsapp"
    [routerLink]="link"
    class="border-2 border-red-600 text-red-600 hover:bg-red-600 hover:text-white w-fit py-3 px-10 font-semibold transition rounded mt-5"
  >
    {{ label }}
  </a>
  <ng-template #btWhatsapp>
    <a
      [href]="getLink()"
      class="border-2 border-red-600 text-red-600 hover:bg-red-600 hover:text-white w-fit py-3 px-10 font-semibold transition rounded mt-5"
      target="btWhatsapp"
    >
      {{ label }}
    </a>
  </ng-template>
</div>

