* {
  color: white;
}

.p-button,
a {
  color: black;
}

td {
  border: 0px solid #ccc;
  padding: 8px;
}

th {
  border: 0px solid #ccc;
  font-weight: bold;
  background-color: #c8ffc8;
  color: black;
}

table {
  width: 100%;
  font-size: small;
}

small {
  font-size: xx-small;
  line-height: 1;
}

button {
  margin-right: 10px;
}

.materialCliente {
  color: #9d1c24;
  background-color: #f8d7da;
  font-weight: bold;
  font-size: small;
  border: 0px solid #ccc;
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
  line-height: 1;
}

.p-card-wrapper {
  height: 100%;
  margin-bottom: 10px;
}

:host ::ng-deep .p-card {
  background: white;
  color: black;
}

:host ::ng-deep .p-card-body {
  padding: 0px;
}

:host ::ng-deep .p-card-content {
  padding: 0;
}

p {
  width: auto;
  color: black;
}

@media print {
  td {
    border: 2px solid #bbb !important;
  }

  th {
    border: 2px solid #bbb !important;
    font-weight: bold;
    background-color: #c8ffc8;
    color: black;
  }

  hr {
    border-bottom: 2px solid #ccc !important;
  }

  .p-card-wrapper {
    height: 100%;
    margin-bottom: 0px;
  }
}
