<div>
  <h2>Registro de Inspeção e Recebimento</h2>
  <form action="">
    <div class="row">
      <div class="col-1">
        <label for="rir">Id</label>
        <input
          pInputText
          type="text"
          id="rir"
          name="rir"
          placeholder="RIR"
          disabled="true"
          [(ngModel)]="rir.id"
        />
      </div>
      <div class="col">
        <label for="rir">Descrição</label>
        <input
          pInputText
          type="text"
          id="descricao"
          name="descricao"
          placeholder="Descrição"
          [(ngModel)]="rir.descricao"
        />
      </div>
      <div class="col">
        <label for="produto">Material</label>
        <p-autoComplete
          name="produto"
          id="produto"
          type="text"
          [(ngModel)]="rir.produto"
          field="nome"
          [suggestions]="produtos"
          (completeMethod)="searchProduto($event)"
          [dropdown]="true"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          [required]="true"
        ></p-autoComplete>
      </div>
      <div class="col-1">
        <label for="quantidade">Quantidade (Kg)</label>
        <input
          pInputText
          type="text"
          id="quantidade"
          name="quantidade"
          placeholder=""
          [(ngModel)]="rir.quantidade"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <label for="">Nota Fiscal</label>
        <input
          pInputText
          type="text"
          id="nfe"
          name="nfe"
          placeholder="Nota Fiscal"
          [(ngModel)]="rir.nfe"
        />
      </div>
      <div class="col-1">
        <label for="">Data Nota Fiscal</label>
        <p-calendar
          name="nfe_data"
          id="nfe_data"
          [(ngModel)]="rir.nfe_data"
          dateFormat="dd/mm/yy"
          appendTo="body"
          [style]="{ width: '100%' }"
        ></p-calendar>
      </div>
      <div class="col-1 d-flex flex-column">
        <label for="">Cliente</label>
        <div
          class="flex-grow-1 d-flex align-content-center justify-content-center"
        >
          <p-checkbox
            name="cliente"
            id="cliente"
            [tabindex]="0"
            [(ngModel)]="rir.cliente"
            [binary]="true"
          ></p-checkbox>
        </div>
      </div>

      <div class="col">
        <label for="" *ngIf="rir.cliente">Cliente</label>
        <label for="" *ngIf="!rir.cliente">Fornecedor</label>
        <p-autoComplete
          name="produto"
          id="produto"
          type="text"
          [(ngModel)]="rir.pessoa"
          field="nome"
          [suggestions]="pessoas"
          (completeMethod)="searchPessoa($event)"
          [dropdown]="true"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          [required]="true"
        ></p-autoComplete>
      </div>
      <div class="col-1">
        <label for="recebido_data">Recebido Data</label>
        <p-calendar
          name="recebido_data"
          id="recebido_data"
          [(ngModel)]="rir.recebido_data"
          dateFormat="dd/mm/yy"
          appendTo="body"
          [style]="{ width: '100%' }"
        ></p-calendar>
      </div>
      <div class="col-3">
        <label for="">Recebido Por</label>
        <p-autoComplete
          name="produto"
          id="produto"
          type="text"
          [(ngModel)]="rir.operador"
          field="pessoa.nome"
          [suggestions]="operadores"
          (completeMethod)="searchOperador($event)"
          [dropdown]="true"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          [required]="true"
        ></p-autoComplete>
      </div>
    </div>
    <div class="row">

      <div class="col-1 d-flex flex-column">
        <label for="">Conferido</label>
        <div
          class="flex-grow-1 d-flex align-content-center justify-content-center"
        >
          <p-checkbox
            name="cliente"
            id="cliente"
            [tabindex]="0"
            [(ngModel)]="rir.conferido"
            [binary]="true"
          ></p-checkbox>
        </div>
      </div>
      <div class="col">
        <label for="">Observações</label>
        <input
          pInputText
          type="text"
          id="nfe"
          name="nfe"
          placeholder=""
          [(ngModel)]="rir.observacoes"
        />
      </div>
      <div class="col ">
        <label for="">Anexos</label>
        <listaFiles [compact]="true" (onChangeFiles)="rir.registro_inspecao_recebimento_file = $event"></listaFiles>
      </div>
    </div>
    <div class="row" *ngIf="!this.rir.cliente">
      <div class="col">
        <label for="">Pedido de compra</label>
        <p-autoComplete
        name="pedido_compra"
          id="pedido_compra"
          type="text"
          [(ngModel)]="rir.pedido_compra_item"
          field="pedido_compra.pedido"
          [suggestions]="pedidos_compra_item"
          (completeMethod)="searchPedidoCompraItem()"
          [dropdown]="true"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          [required]="false"
        >

        </p-autoComplete>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="col">
        <button
          pButton
          type="button"
          label="Salvar"
          class="p-button-success"
          (click)="createOrUpdate()"
        ></button>
        <button
          pButton
          type="button"
          label="Limpar"
          (click)="limpar()"
        ></button>
      </div>
    </div>
  </form>

</div>
