<div
  [ngClass]="{
    'md:flex-row-reverse': lado !== 0
  }"
  class="text-white md:flex md:flex-row"
>
  <div>
    <div class="m-auto sm:w-auto">
      <img
        *ngIf="data.img"
        [src]="data.img"
        [alt]="data.textLink"
        class="rounded-xl"
      />
      <iframe
        *ngIf="data.video"
        width="100%"
        height="350px"
        [src]="data.video"
        title="YouTube video player"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowFullScreen
      ></iframe>
    </div>
  </div>
  <div
    class="m-auto flex flex-col place-content-center gap-10 py-6 directionInit"
  >
    <div>
      <h3 class="font-bold text-3xl">{{ data.title }}</h3>
    </div>
    <div>
      <p *ngFor="let item of data.desc; let i = index">{{ item }}</p>
    </div>
    <app-button-saiba-mais [textLink]="data.textLink"></app-button-saiba-mais>
  </div>
</div>
