<section class="bg-[url('/../../../../../assets/img/Banner/background.webp')] py-36 px-5 xm:px-0">
  <div class="container m-auto">
    <div class="max-w-7xl m-auto">
      <div class="grid sm:grid-cols-2 gap-36">
        <div class="flex flex-col gap-8">
          <h1 class="uppercase text-2xl sm:text-7xl font-bold text-[#1E212C]">
            Nossos Serviços
          </h1>
          <p style="color: #1E212C;">
            Oferecemos serviços que atendem a diversas demandas e tipos de
            metais, proporcionando qualidade, eficiência e rapidez em
            todos os nossos processos de trabalho.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-36 lg:px-20 px-5">
  <div class="container m-auto">
    <div class="max-w-7xl m-auto">
      <div class="flex flex-col gap-32">
        <div class="grid sm:grid-cols-2 sm:gap-20">
          <div class="">
            <div class="">
              <iframe
                width="100%"
                height="350px"
                src="https://www.youtube-nocookie.com/embed/IWnJISmOMYQ"
                title="YouTube video player"
                frameBorder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowFullScreen
              ></iframe>
            </div>
          </div>
          <div class="flex flex-col place-content-center gap-10 py-6">
            <h3 class="font-bold text-3xl ">Corte a Laser</h3>
            <div>
              <p>
                Esse serviço possibilita o desenvolvimento de peças
                complexas, por um custo baixo, quando comparado às outras
                opções. Possui alta precisão e facilita os processos.
              </p>
              <p class="pt-5">
                - Aço Carbono de até 12,7mm;
                <br />
                - Aço Inox de até 6mm e;
                <br />
                - Alumínio até 6mm.
                <br />
              </p>
            </div>
            <app-button-saiba-mais label="Corte a Laser" textLink="corte a laser"></app-button-saiba-mais>


          </div>
        </div>
        <div class="flex flex-col-reverse sm:grid grid-cols-2 sm:gap-20">
          <div class="flex flex-col place-content-center gap-10 py-6">
            <h3 class="font-bold text-3xl ">Corte a Plasma</h3>
            <div>
              <p>
                Esse serviço é um processo que possui alta produção, por
                ser extremamente eficiente e de fácil operação. Seu uso
                facilita a padronização e a produção de arcos e
                circunferências feitas em tubos.
              </p>
              <p class="pt-5">- Até 2" (50,8mm)</p>
            </div>
            <app-button-saiba-mais label="Corte a Plasma" textLink="Corte a plasma"></app-button-saiba-mais>
          </div>
          <div class="">
            <div class="">
              <iframe
                width="100%"
                height="350px"
                src="https://www.youtube-nocookie.com/embed/B4wO6woozlU"
                title="YouTube video player"
                frameBorder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowFullScreen
              ></iframe>
            </div>
          </div>
        </div>
        <div class="grid sm:grid-cols-2 sm:gap-20">
          <div class="">
            <div class="max-w-lg m-auto ">
              <img
                src='../../../../../assets/img/Services/Calandra de Tubos.webp'
                layout="responsive"
                alt="Calandra de Tubos"
                class="rounded-xl"
              />
            </div>
          </div>
          <div class="flex flex-col place-content-center gap-10 py-6">
            <h3 class="font-bold text-3xl ">Calandra de Tubos</h3>
            <div>
              <p>
                Esse serviço é um processo que possui alta produção, por
                ser extremamente eficiente e de fácil operação. Seu uso
                facilita a padronização e a produção de arcos e
                circunferências feitas em tubos.
              </p>
              <p class="pt-5">
                -Tubos de 3/4 (19mm) até 1 (25mm) com diâmetro minimo
                220mm
                <br />
                -Tubos de 1 1/4 (32mm) com diâmetro minimo 310mm
                <br />
                -Tubos de 1 1/2 (38mm) com diâmetro minimo 340mm
                <br />
                -Tubos de 2 (51mm) até 2 1/4 (57mm) com diâmetro minimo
                410mm
                <br />
                -Tubos de 2 1/2(63mm) até 3 (76mm) com diâmetro minimo
                600mm
                <br />
                -Tubos de 4(101,6mm) com diâmetro minimo 900mm
                <br />
              </p>
            </div>
            <app-button-saiba-mais label="Calandra de Tubos" textLink="calandra de tubos"></app-button-saiba-mais>
          </div>
        </div>
        <div class="flex flex-col-reverse sm:grid grid-cols-2 sm:gap-20">
          <div class="flex flex-col place-content-center gap-10 py-6">
            <h3 class="font-bold text-3xl ">Calandra de Chapa</h3>
            <p>
              Esse processo possui alta produção por ser eficiente e
              simples. Ele facilita a padronização e a produção de arcos e
              circunferências feitas em capas, além de otimizar o tempo.
            </p>
            <app-button-saiba-mais label="Calandra de Chapa" textLink="calandra de chapa"></app-button-saiba-mais>


          </div>
          <div class="">
            <div class="max-w-lg m-auto rounded-sm">
              <img
                src='../../../../../assets/img/Services/Calandra de Chapa.webp'
                layout="responsive"
                alt="Calandra de Chapa JCM METAIS"
                class="rounded-xl"
              >
            </div>
          </div>
        </div>
        <div class="grid sm:grid-cols-2 sm:gap-20">
          <div class="">
            <div class="max-w-lg m-auto rounded-sm">
              <img
                src='../../../../../assets/img/Services/Dobra de Chapas.webp'
                layout="responsive"
                alt="Dobra de Chapa JCM METAIS"
                class="rounded-xl"
              >
            </div>
          </div>
          <div class="flex flex-col place-content-center gap-10 py-6">
            <h3 class="font-bold text-3xl ">Dobra de Chapas</h3>
            <p>
              Esse é um processo vital na indústria de transformação e
              muito utilizado por empresas do mercado de aço. A dobra de
              chapas consiste na deformação do aço ao longe de um eixo,
              criando mudanças na geometria da peça. Conformação de Peças
              e Estampas: Esse é um método consiste em um processo de
              fabricação de peças, por meio de corte ou deformação de
              chapas em operação de prensagem a frio.
            </p>
            <app-button-saiba-mais label="Dobra de Chapas" textLink="dobra de chapas"></app-button-saiba-mais>
          </div>
        </div>
        <div class="flex flex-col-reverse sm:grid grid-cols-2 sm:gap-20">
          <div class="flex flex-col place-content-center gap-10 py-6">
            <h3 class="font-bold text-3xl ">
              Dobradeira de Tubo até 2"
            </h3>
            <p>
              Com o uso de máquina hidráulica para curvar tubos, é
              possível garantir maior eficácia no processo e garantir que
              a deformação externa na zona da curva do seu produto seja
              reduzida ao mínimo.
            </p>
            <app-button-saiba-mais label='Dobradeira de Tubo até 2/"' textLink="dobra de tubos"></app-button-saiba-mais>
          </div>
          <div class="">
            <div class="max-w-lg m-auto rounded-sm">
              <img
                src='../../../../../assets/img/Services/Dobradeira de Tubo ate 2.webp'
                layout="responsive"
                alt="Dobradeira de Tubo ate 2"
                class="rounded-xl"
              >
            </div>
          </div>
        </div>
        <div class="grid sm:grid-cols-2 sm:gap-20 items-center">
          <div class="">
            <div class="">
              <iframe
                width="100%"
                height="350px"
                src="https://www.youtube.com/embed/tpBRwZRs3o4"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowFullScreen
              ></iframe>
            </div>
          </div>
          <div class="flex flex-col place-content-center gap-10 py-6">
            <h3 class="font-bold text-3xl ">Puncionadeira</h3>
            <div>
              <p>
                Com o uso da máquina puncionadeira conseguimos maior
                precisão em serviços de corte e repuxo, além de
                possibilitar a realização de diversas configurações de
                formas a serem feitas no metal escolhido, podendo ser aço
                carbono, aço inox, cobre, alumínio, entre outros.
              </p>
            </div>
            <app-button-saiba-mais label='Puncionadeira' textLink="puncionadeira"></app-button-saiba-mais>
          </div>
        </div>
        <div class="flex flex-col-reverse sm:grid grid-cols-2 sm:gap-20">
          <div class="flex flex-col place-content-center gap-10 py-6">
            <h3 class="font-bold text-3xl ">
              Conformação de Peças e Estampa
            </h3>
            <p>
              Método muito utilizado na conformação de chapas de aço é o
              de estampagem, que pode ser considerado como um processo de
              fabricação de peças, com o corte ou a deformação de chapas
              em operação de prensagem a frio. Assim, emprega-se a
              estampagem de chapas para a fabricação de peças com paredes
              finas, feitas de chapa ou fita de diversos metais e ligas.
              Portanto, esse é o processo pelo qual uma chapa é conformada
              ou transformada por meio da aplicação de uma força vertical
              e assume a forma da ferramenta, matriz e estampa, utilizada
              na operação. O formato final da peça dependerá da chapa de
              aço especificada, do equipamento que está sendo utilizado na
              estampagem e da ferramenta aplicada na operação.
            </p>
            <app-button-saiba-mais label='Conformação de Peças e Estampa' textLink="conformação de peças e estampa"></app-button-saiba-mais>
            

          </div>
          <div class="">
            <div class="max-w-lg m-auto rounded-sm">
              <img
                src='../../../../../assets/img/Services/Conformacao de Pecas e Estampa.webp'
                layout="responsive"
                alt="Conformação de Peças e Estampa"
                class="rounded-xl"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
