<div class="page">
<p-table
  #dt
  [value]="rncs"
  [paginator]="false"
  [rows]="queryService.rncs.pageCount"
  [selection]="true"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="caption">
      <div class="flex flex-col md:flex-row gap-4">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          class="p-inputtext"
          type="text"
          placeholder="Search keyword"
          [(ngModel)]="queryService.rncs.searchValue"
          (ngModelChange)="search()"
        />
      </span>
      <p-checkbox
        name="chkDeleted"
        label="Deletados"
        [(ngModel)]="queryService.rncs.deleted"
        [binary]="true"
        (ngModelChange)="getRNCs()"
      ></p-checkbox>
        <div class="flex-grow flex flex-row justify-end">
        <button pButton routerLink="./0"><i class="pi pi-plus"></i></button>
      </div>

    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Status</th>
      <th>Numero</th>
      <th>OP</th>
      <th>Clientes</th>
      <th>Data de abertura</th>
      <th>Reponsavel</th>
      <th>Data de fechamento</th>
      <th>Custo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rnc>
    <tr (click)="clickDeleted(rnc.id)">
      <td><caixaDeStatus
        id="status"
        name="status"
        [status]="rnc.status"
        [options]="status"
        [editable]="false"
        (statusChange)="rnc.status = $event"
      ></caixaDeStatus></td>
      <td>F24-{{ rnc.id }}</td>
      <td><p *ngFor="let op of filterSetOP(rnc)">
        {{ op }}
      </p></td>
      <td><p *ngFor="let cliente of filterSetCliente(rnc)">
        {{ cliente }}
      </p></td>
      <td>{{ rnc.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
      <td>{{ rnc.responsavel_analise?.pessoa.nome }}</td>
      <td>{{ rnc.data_fechamento | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
      <td>{{ rnc.custo  | currency : 'BRL'}}</td>
    </tr>
  </ng-template>
</p-table>
<div class="">
  <p-paginator
    #paginator
    [rows]="queryService.rncs.pageCount"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[25, 50, 100]"
    (onPageChange)="pageChange($event)"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="totalRecords + ' resultados'"
    [first]="first"
  ></p-paginator>
</div>
<p-confirmDialog
  header="Confirmação"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
</div>
