<div>
  <h1>Relatório de Não Conformidade</h1>
  <p>F-024 - Rev. 01 - Emissão: 25/09/2018 Revisão 17/08/2023</p>
  <form action="">
    <caixaDeStatus
      id="status"
      name="status"
      [status]="rnc.status"
      [options]="status"
      [editable]="false"
      (statusChange)="rnc.status = $event"
    ></caixaDeStatus>

    <div class="row">
      <div class="col">
        <label for="ID">RNC Nº:</label>
        <div class="noprint">
          <input
            pInputText
            type="text"
            id="id"
            name="id"
            class=""
            [(ngModel)]="rnc.id"
            [disabled]="!isNewRNC()"
          />
        </div>
        <div class="noview">
          {{ rnc.id }}
        </div>
      </div>
      <div class="col">
        <label for="createdAt">Data de Abertura: </label>
        <div class="noprint">
          <input
            pInputText
            type="text"
            id="createdAt"
            name="createdAt"
            class=""
            value="{{ rnc.createdAt | date : 'dd/MM/yyyy HH:mm:ss' }}"
            disabled
          />
        </div>
        <div class="noview">
          {{ rnc.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <label for="tipo">Classificação: </label>
        <p-dropdown
          name="classificacao"
          id="classificacao"
          [options]="classificacoes"
          [(ngModel)]="rnc.classificacao"
          placeholder="Selecione o tipo"
          [editable]="false"
          [style]="{ width: '100%' }"
          class="noprint"
          [disabled]="rnc.status !== 'Aberto'"
        ></p-dropdown>
        <span class="noview">
          {{ rnc.classificacao }}
        </span>
      </div>
    </div>
    <div class="row noprint" style="margin-top: 10px">
      <div class="col">
        <button
          pButton
          class="p-button"
          style="margin-left: 0px"
          (click)="incluirOPToggle = !incluirOPToggle"
          [disabled]="rnc.status !== 'Aberto'"
        >
          Adicionar OP
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <h4
            style="margin-bottom: 0px"
            *ngIf="
              rnc.classificacao !==
              'Melhorias/Observações/OPMs das auditorias do SGQ'
            "
          >
            Descrição da Não Conformidade:
          </h4>
          <h4
            style="margin-bottom: 0px"
            *ngIf="
              rnc.classificacao ===
              'Melhorias/Observações/OPMs das auditorias do SGQ'
            "
          >
            Descrição da Não Conformidade Potencial:
          </h4>
          <p style="font-weight: normal">
            <small
              >(Problema propriamente dito e se possível decrever o efeito
              causado)</small
            >
          </p>
        </div>

        <div>
          <p-editor
            #editor
            (onInit)="editor.quill.pasteHTML(rnc.descricao)"
            (onTextChange)="rnc.descricao = $event.htmlValue"
            name="descricao"
            id="descricao"
            class="noprint"
            *ngIf="rnc.status === 'Aberto'"
          ></p-editor>
          <div
            class="noprint"
            pInputTextarea
            [innerHTML]="rnc.descricao"
            *ngIf="rnc.status !== 'Aberto'"
          ></div>
          <div class="noview" [innerHTML]="rnc.descricao"></div>
        </div>
      </div>
    </div>
    <div
      class="row"
      *ngIf="
        rnc.classificacao !== 'Melhorias/Observações/OPMs das auditorias do SGQ'
      "
    >
      <div class="col">
        <h4 style="margin-bottom: 0px">Ação de Contenção (Ação Imediata):</h4>
        <p>
          <small
            >(Quando aplicável, o responsavel deve verificar as peças em
            transito e em estoque (Empresa e Cliente) )</small
          >
        </p>
        <textarea
          pInputTextarea
          id="acao_contencao"
          name="acao_contencao"
          [(ngModel)]="rnc.acao_contencao"
          class="noprint"
          [disabled]="rnc.status !== 'Aberto'"
        ></textarea>
        <p class="noview">{{ rnc.acao_contencao }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 style="margin-bottom: 0px">Metodo de Avaliação das Causas:</h4>
        <p><small>(Origem do problema - 6M´s)</small></p>
        <div class="d-flex flex-column align-items-center">
          <div style="width: 75%">
            <app-ishikawa></app-ishikawa>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 style="margin-bottom: 0px">
          Descrição da(s) causa(s) da Não Conformidade
          <span
            *ngIf="
              rnc.classificacao ===
              'Melhorias/Observações/OPMs das auditorias do SGQ'
            "
          >
            em Potêncial</span
          >:
        </h4>
        <p>
          <small
            >(Fonte de Informações para as causas da Não Conformidade)
          </small>
        </p>
        <textarea
          pInputTextarea
          id="causa"
          name="causa"
          [(ngModel)]="rnc.causa"
          class="noprint"
          [disabled]="rnc.status !== 'Aberto'"
        ></textarea>
        <div class="noview" [innerHTML]="rnc.causa"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 style="margin-bottom: 0px">
          {{
            rnc.classificacao ===
            "Melhorias/Observações/OPMs das auditorias do SGQ"
              ? "Ação de Melhoria"
              : "Ação Corretiva"
          }}:
        </h4>
        <p>
          <small
            >Identificação dos responsaveis e prazos para açoes
            {{
              "Melhorias/Observações/OPMs das auditorias do SGQ"
                ? "de melhoria"
                : "corretiva"
            }}</small
          >
        </p>
        <label for="acao_disposicao">Ação de disposição:</label>
        <p-dropdown
          name="acao_disposicao"
          id="acao_disposicao"
          [options]="acoes_disposicao"
          [(ngModel)]="rnc.acao_disposicao"
          placeholder="Selecione a ação"
          [editable]="false"
          [style]="{ width: '100%' }"
          class="noprint"
          [disabled]="rnc.status !== 'Aberto'"
        ></p-dropdown>
        <span class="noview">
          {{ rnc.acao_disposicao }}
        </span>
        <textarea
          name="acao_corretiva"
          id="acao_corretiva"
          pInputTextarea
          [(ngModel)]="rnc.acao_corretiva"
          class="noprint"
          [disabled]="rnc.status !== 'Aberto'"
        ></textarea>
        <span class="noview"> {{ rnc.acao_corretiva }} </span>
      </div>
    </div>
    <div
      class="row"
      *ngIf="
        rnc.classificacao !== 'Melhorias/Observações/OPMs das auditorias do SGQ'
      "
    >
      <div class="col">
        <h4 style="margin-bottom: 0px">Ação para Evitar Reincidência:</h4>
        <p>
          <small
            >(Após definida ação corretiva a ser implantada, ação para evitar
            reincidência de não conformidade)</small
          >
        </p>
        <textarea
          name="acao_preventiva"
          id="acao_preventiva"
          pInputTextarea
          [(ngModel)]="rnc.acao_preventiva"
          class="noprint"
          [disabled]="rnc.status !== 'Aberto'"
        ></textarea>
        <span class="noview">
          {{ rnc.acao_preventiva }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 style="margin-bottom: 0px">Análise da Eficácia da Ação:</h4>
        <p>
          <small> (Descrever como foi constatada a eficácia da ação) </small>
        </p>
        <textarea
          name="analise_eficacia"
          id="analise_eficacia"
          pInputTextarea
          [(ngModel)]="rnc.eficacia_descricao"
          class="noprint"
          [disabled]="rnc.status !== 'Aberto'"
        ></textarea>
        <span class="noview">
          {{ rnc.eficacia_descricao }}
        </span>
        <div class="d-flex flex-row" style="margin-bottom: 5px">
          <div>
            <label for="eficacia">Ação Eficaz</label>
            <p-radioButton
              id="eficacia"
              name="eficacia"
              value="Sim"
              [(ngModel)]="rnc.eficacia"
              label="Sim"
              class=""
              [disabled]="rnc.status !== 'Aberto'"
            ></p-radioButton>
            <p-radioButton
              id="eficacia"
              name="eficacia"
              value="Não"
              [(ngModel)]="rnc.eficacia"
              label="Não"
              class=""
              [disabled]="rnc.status !== 'Aberto'"
            ></p-radioButton>
          </div>
          <div class="flex-grow-1" *ngIf="rnc.eficacia === 'Não'">
            <label for="motivo"
              >Descreva o motivo e determine outro Prazo e Plano de Ação.</label
            >
            <textarea
              id="motivo"
              name="motivo"
              pInputTextarea
              [(ngModel)]="rnc.eficacia_motivo"
              class="noprint"
              [disabled]="rnc.status !== 'Aberto'"
            ></textarea>
            <span class="noview">
              {{ rnc.eficacia_motivo }}
            </span>
          </div>
        </div>
        <div>
          <h5 style="margin-bottom: 0px">
            Há necessidade de atualizar riscos e oportunidades?
          </h5>
          <p><small> (Se Sim descrever Ação, se Não, justificar.) </small></p>
          <textarea
            name="risco"
            id="risco"
            pInputTextarea
            [(ngModel)]="rnc.risco"
            [disabled]="rnc.status !== 'Aberto'"
          ></textarea>
        </div>
      </div>
      <div class="d-flex flex-row space-x-4">
        <div class="flex-grow-1">
          <label for="responsalvel_analise" style="margin-bottom: 0px"
            >Responsável do encerramento da RNC (Qualidade/RD):</label
          >
          <p-autoComplete
            name="responsalvel_analise"
            id="responsalvel_analise"
            [(ngModel)]="rnc.responsavel_analise"
            [suggestions]="responsalveis_analise"
            placeholder="Selecione um responsavel"
            (completeMethod)="searchResponsavelAnalise($event)"
            [dropdown]="true"
            [minLength]="2"
            field="pessoa.nome"
            [forceSelection]="true"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            (onSelect)="selectOrdemProducao($event.value.id)"
            class="noprint"
            [disabled]="rnc.status !== 'Aberto'"
          ></p-autoComplete>
          <h2 class="noview">
            {{ rnc.responsavel_analise?.pessoa?.nome }}
          </h2>
        </div>
        <div>
          <label for="status">Data Fechamento: </label>
          <input
            pInputText
            type="text"
            id="data_fechamento"
            name="data_fechamento"
            class="noprint"
            value="{{ rnc.data_fechamento | date : 'dd/MM/yyyy HH:mm:ss' }}"
            disabled
          />
          <span class="noview">
            {{ rnc.data_fechamento }}
          </span>
        </div>
      </div>
    </div>
    <div>
      <h3>Custo: </h3>
      <div pInputText>{{ rnc.custo  | currency : 'BRL'}}</div>
    </div>
    <hr />
    <div class="dontBreakPage">
      <div class="row">
        <div class="col-5 flex flex-column">
          <strong>Inspeção Final:</strong>
          <span>🔲Aprovado, 🔲Reprovado</span>
        </div>
        <div class="col">Nome:</div>
        <div class="col">Data:</div>
      </div>
      <div class="row">
        <small
          >Observações: Tolerâncias não indicadas nos desenhos/amostras serão
          utilizados as da norma NBR ISO2768-1 conforme determinado pelo cliente.
          Setores: Caldeiraria (C) Grosso, Plasma/Dobra (C) Grosso. Baixo Carbono:
          Aços 1006/1008/1010/1020.
        </small>
        <small>Análise Crítica OK, conforme I-002 de vendas, item 6.1.2</small>
      </div>
    </div>

    <div
      class="dontBreakPage"
      *ngFor="let rnc_item of rnc.rnc_items; let index = index"
    >
      <h4>
        {{ index + 1 }}. Cliente:
        {{
          rnc_item.ordem_producao_item.orcamento_item?.orcamento?.pessoa?.nome
        }}
        OP: {{ rnc_item.ordem_producao_item.id_ordem_producao }}
      </h4>
      <table>
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Material</th>
            <th>Largura</th>
            <th>Altura</th>
            <th>Quantidade</th>
            <th style="width: 100px">RIR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ rnc_item.ordem_producao_item.descricao }}
            </td>
            <td>
              <div class="noview">
                {{ rnc_item.produto.nome }}
              </div>
              <div class="noprint">
                <p-autoComplete
                  name="Material"
                  id="Material"
                  [(ngModel)]="rnc_item.produto"
                  [suggestions]="produtos"
                  (completeMethod)="searchProduto($event)"
                  [dropdown]="true"
                  [minLength]="2"
                  field="nome"
                  [forceSelection]="true"
                  [style]="{ width: '100%' }"
                  [inputStyle]="{ width: '100%' }"
                  [disabled]="rnc.status !== 'Aberto'"
                ></p-autoComplete>
              </div>
            </td>
            <td>
              <div class="noview">
                {{ rnc_item.largura | number }}
              </div>
              <div class="noprint">
                <input
                  pInputText
                  type="text"
                  id="largura"
                  name="largura"
                  class=""
                  [(ngModel)]="rnc_item.largura"
                  [disabled]="rnc.status !== 'Aberto'"
                />
              </div>
            </td>
            <td>
              <div class="noview">
                {{ rnc_item.altura | number }}
              </div>
              <div class="noprint">
                <input
                  pInputText
                  type="text"
                  id="altura"
                  name="altura"
                  class=""
                  [(ngModel)]="rnc_item.altura"
                  [disabled]="rnc.status !== 'Aberto'"
                />
              </div>
            </td>
            <td>
              <div class="noview">
                {{ rnc_item.quantidade | number }}
              </div>
              <div class="noprint">
                <input
                  pInputText
                  type="text"
                  id="quantidade"
                  name="quantidade"
                  class=""
                  [(ngModel)]="rnc_item.quantidade"
                  (input)="total_custo()"
                  [disabled]="rnc.status !== 'Aberto'"
                />
              </div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col">
          <table>
            <tbody>
              <tr
                *ngFor="
                  let processo of rnc_item.ordem_producao_item
                    .ordem_producao_item_processos
                "
              >
                <td style="width: 100px">{{ processo.processo }}</td>
                <td style="width: 100px">Data:</td>
                <td>Ass:</td>
              </tr>
            </tbody>
            <tfoot *ngIf="rnc_item.ordem_producao_item.id_rir">
              <tr>
                <td class="materialCliente" colspan="3">Material do Cliente</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="col">
          <p-editor
            #editor
            (onInit)="editor.quill.pasteHTML(rnc_item.observacao)"
            (onTextChange)="rnc_item.observacao = $event.htmlValue"
            name="observacao"
            id="observacao"
            class="noprint"
            *ngIf="rnc.status === 'Aberto'"
          ></p-editor>
          <div pInputText class="noprint" *ngIf="rnc.status !== 'Aberto'" [innerHTML]="rnc_item.observacao"></div>
          <div class="noview" [innerHTML]="rnc_item.observacao"></div>
        </div>
        <div class="col-1 flex noprint">
          <button (click)="removeRNC_item(index)" [disabled]="rnc.status !== 'Aberto'">
            <i class="pi pi-trash trash"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="d-flex flex-row" style="margin-top: 10px">
    <div class="flex-grow-1"></div>
    <div class="noprint">
      <button
        pButton
        class="p-button p-button-success"
        (click)="createOrUpdate()"
      >
        Salvar
      </button>
      <button
        pButton
        class="p-button p-button-success"
        [disabled]="isNewRNC()"
        (click)="aprovar()"
      >
        Finalizar
      </button>
      <button
        pButton
        class="p-button"
        type="button"
        name="btnImprimir"
        id="btnImprimir"
      >
        <a href="javascript:window.print()"> Imprimir </a>
      </button>
      <button pButton class="p-button" routerLink="..">Voltar</button>
    </div>
  </div>
</div>
<p-dialog
  class="noprint"
  header="Header"
  [(visible)]="incluirOPToggle"
  [style]="{ width: '75vw' }"
>
  <div class="">
    <div class="">
      <label for="op">OP: </label>
      <p-autoComplete
        name="OrdemProducao"
        id="OrdemProducao"
        [(ngModel)]="selectedOrdemProducao"
        [suggestions]="ordensProducao"
        (completeMethod)="searchOrdemProducao($event)"
        [dropdown]="true"
        [minLength]="2"
        field="id"
        [forceSelection]="true"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        (onSelect)="selectOrdemProducao($event.value.id)"
      >
        <ng-template let-op pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ op.id }} - {{ op.orcamento?.pessoa?.nome }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
      <p>Orçamento: {{ selectedOrdemProducao?.orcamento?.id }}</p>
      <p>Cliente: {{ selectedOrdemProducao?.orcamento?.pessoa?.nome }}</p>
    </div>
    <div class="">
      <p-table
        *ngIf="selectedOrdemProducao"
        [value]="selectedOrdemProducao.ordem_producao_items!"
        dataKey="key"
        [(selection)]="selectedOrdemProducaoItem"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Descrição</th>
            <th>Produto</th>
            <th>Largura</th>
            <th>Altura</th>
            <th>Quantidade</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ordem_producao_item>
          <tr>
            <td>
              <p-tableCheckbox [value]="ordem_producao_item"></p-tableCheckbox>
            </td>
            <td>{{ ordem_producao_item.descricao }}</td>
            <td>{{ ordem_producao_item.produto.nome }}</td>
            <td>
              {{ ordem_producao_item.orcamento_item?.largura | number }}
            </td>
            <td>
              {{ ordem_producao_item.orcamento_item?.altura | number }}
            </td>
            <td>{{ ordem_producao_item.quantidade }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      (click)="includeRNCItems()"
      label="Incluir"
      styleClass="p-button-success"
    ></p-button>
    <p-button
      (click)="incluirOPToggle = !incluirOPToggle"
      label="Cancelar"
    ></p-button>
  </ng-template>
</p-dialog>
