/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
  background-color: #20262e;
  height: 100%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.caixa {
  margin: auto;
  width: auto;
  padding: 50px;

  border-width: 1px;
  border-radius: 3px;
  background-color: #2a323d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
