/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "./styles.css";
@import "primeicons/primeicons.css";

body {
  background-color: #20262e;

  height: 100%;
  min-height: 100%;
  color: rgb(63 63 70);

}
html {
  height: 100%;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

label {
  width: 100%;
  margin-top: 5px;
  font-size: small;
}

input, p, textarea {
  width: 100%
}

h4 {
  margin-top: 25px;
}

p {
  margin-bottom: 5px;
}

.p-button {
  background-color: #8dd0ff;
}

.page {
  padding: 1cm;
  margin: auto;
  border-radius: 5px;
  background: #2a323d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.trash {
  cursor: pointer;
}

.p-datatable{
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  padding: 5px;
}
@page {
  size: A4;
  margin: 0;

}

.noview {
  display: none;
}

.p-card {
  background: #343e4d;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
  color: rgba(255, 0, 0, 0.87);
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background: rgba(255, 0, 0, 0.87);
  color: #151515;
}

@media print {

  html, body {
    width: 210mm;
  }

  h4 {
    margin: 1px;
    font-size: medium;
  }

  h2 {
    margin: 1px;
    font-size: large;
  }

  label, small, p, span {
    font-size: xx-small;
    margin: 1px;
    width: auto;
  }

  .container {
    padding: 0;
    margin: 0;
  }

  .page{

    padding: 0;
    margin: 1.5cm;

    padding-right: 0;
    margin-right: 0;

    box-shadow: none
  }

  .row {
    width: 100%;
  }

  .noprint {
    display: none;
  }

  .noview {
    display: inline;
  }

  .p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  font-size: x-small;
}

.h-12{
  height: 12px;
}
}
