<p-table
  #dt
  [value]="arquivos"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} produtos"
  [rowsPerPageOptions]="[10, 25, 50]"
  [globalFilterFields]="['nome']"
  [selection]="true"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          class="p-inputtext"
          type="text"
          (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Search keyword"
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Criado</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-arquivo>
    <tr>
      <td>{{ arquivo.id }}</td>
      <td><span class="link" (click)="goToUrl(arquivo.id)">{{ arquivo.originalFilename }}</span></td>
      <td>{{ arquivo.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      <td>
        <i class="pi pi-trash trash" (click)="confirm($event, arquivo.id)"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmPopup></p-confirmPopup>
