<form #orcamentoForm="ngForm" (ngSubmit)="createOrUpdate()" class="page">
  <div class="">
    <div class="row">
      <div class="col-2 flex align-items-center">
        <img #logotipo class="w-full" [src]="logotipoUrl" alt="Logotipo" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <h2>Proposta Comercial</h2>
            <p>F-035 - Rev. 08 - Emissão: 01/10/2018 Revisão 26/04/2023</p>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <caixaDeStatus
              [status]="orcamento.status"
              [options]="status$ | async"
              [editable]="false"
              (statusChange)="orcamento.status = $event"
            ></caixaDeStatus>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex flex-column">
            <label for="empresa" class="noprint">Faturamento: </label>
            <p-dropdown
              [options]="empresas"
              [(ngModel)]="orcamento.empresa"
              (ngModelChange)="onChangeEmpresa($event)"
              name="empresa"
              id="empresa"
              optionLabel="pessoa.nome"
              [style]="{ width: '100%' }"
              [disabled]="orcamento.status !== 'Orçamento'"
              class="noprint"
            ></p-dropdown>
            <p class="noview">
              {{ orcamento.empresa.pessoa?.nome || "-" }} CNPJ:
              {{ (orcamento.empresa.pessoa?.cnpj_cpf | cpfCnpj) || "-" }} IE:
              {{ (orcamento.empresa.pessoa?.ie_rg | ieRg) || "-" }}
            </p>
            <br />
            <p class="noview">
              {{ orcamento.empresa.pessoa?.endereco }},
              {{ orcamento.empresa.pessoa?.numero }},
              {{ orcamento.empresa.pessoa?.bairro }},
              {{ orcamento.empresa.pessoa?.municipio }} -
              {{ orcamento.empresa.pessoa?.uf }}
            </p>
            <br />
            <p class="noview">
              {{ orcamento.empresa.pessoa?.telefone | telefone }}
              {{ orcamento.empresa.pessoa?.email }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="id">Numero: </label>
        <input
          pInputText
          class="p-inputtext"
          name="id"
          id="id"
          type="number"
          [disabled]="orcamento.id != undefined && id != 0"
          [(ngModel)]="orcamento.id"
          class="noprint"
        />
        <span class="noview fontLarge">{{ orcamento.id }}</span>
      </div>
      <div class="col">
        <label for="updatedAt">Data: </label>
        <input
          pInputText
          class="p-inputtext"
          disabled
          name="updatedAt"
          id="updatedAt"
          type="text"
          value="{{ orcamento.updatedAt | date : 'dd/MM/yyyy HH:mm:ss' }}"
          class="noprint"
        />
        <span class="noview">{{
          orcamento.updatedAt | date : "dd/MM/yyyy HH:mm:ss"
        }}</span>
      </div>
    </div>
    <div class="row noprint" *ngIf="orcamento.vendastinies!.length > 0">
      <div class="col" *ngFor="let venda of orcamento.vendastinies">
        <span>
          Venda:
          <span
            class="link"
            [routerLink]="['/home/ordensproducao/' + venda.venda]"
            >{{ venda.venda }}</span
          >
        </span>
        <span> Aprovação: {{ venda.aprovacao }}</span>
        <span> Data: {{ venda.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}</span>
      </div>
    </div>
    <div [ngClass]="{ noprint: orcamento.contato?.valor == '' }">
      <div class="row">
        <div><h4>Contato</h4></div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4 d-print-flex">
          <label for="ContatoNome">Nome: </label>
          <p-inputGroup>
            <p-autoComplete
              name="ContatoNome"
              id="ContatoNome"
              [(ngModel)]="orcamento.contato!.nome"
              [contentEditable]="true"
              (onSelect)="selectContato($event)"
              [suggestions]="contatos"
              (completeMethod)="searchContato($event)"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
              appendTo="body"
              [disabled]="orcamento.status !== 'Orçamento'"
              class="noprint"
              ><ng-template let-contatoOption pTemplate="item">
                <div>
                  <span>{{ contatoOption.nome }} - </span>
                  <span
                    *ngIf="
                      contatoOption.tipo === 'Telefone' ||
                      contatoOption.tipo === 'WhatsApp'
                    "
                    >{{ contatoOption.valor | telefone }}</span
                  >
                  <span
                    *ngIf="
                      contatoOption.tipo !== 'Telefone' &&
                      contatoOption.tipo !== 'WhatsApp'
                    "
                    >{{ contatoOption.valor }}</span
                  >
                </div>
              </ng-template>
              <ng-template let-contatoSelected pTemplate="selectedItem">
                <div>
                  {{ contatoSelected.nome }}
                </div>
              </ng-template></p-autoComplete
            >
            <p-inputGroupAddon class="p-0 noprint">
              <button
                type="button"
                pButton
                icon="pi pi-pencil"
                class="m-0"
                (click)="editContato()"
              ></button>
            </p-inputGroupAddon>
          </p-inputGroup>

          <span class="noview fontLarge">{{
            orcamento.contato?.nome || "-"
          }}</span>
        </div>
        <div class="col-12 col-sm-4 d-print-flex">
          <label for="inpContatoTipo">Tipo: </label>
          <p-dropdown
            [name]="'InpContatoTipo'"
            id="InpContatoTipo"
            [options]="contatoCategorias$ | async"
            [(ngModel)]="orcamento.contato!.tipo"
            [style]="{ width: '100%' }"
            appendTo="body"
            optionLabel="valor"
            optionValue="valor"
            [disabled]="orcamento.status !== 'Orçamento'"
            class="noprint"
          ></p-dropdown>
          <span class="noview">{{ orcamento.contato?.tipo || "-" }}</span>
        </div>
        <div class="col-12 col-sm-4 d-print-flex">
          <label for="">Contato: </label>
          <p-autoComplete
            *ngIf="
              orcamento.contato!.tipo == 'Telefone' ||
              orcamento.contato!.tipo == 'WhatsApp'
            "
            name="ContatoValor"
            id="ContatoValor"
            [ngModel]="orcamento.contato.valor | telefone"
            (ngModelChange)="onChangeWhatsapp($event)"
            [contentEditable]="true"
            (onSelect)="selectContato($event)"
            [suggestions]="contatos"
            (completeMethod)="searchContato($event, true)"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            appendTo="body"
            [disabled]="orcamento.status !== 'Orçamento'"
            class="noprint"
            ><ng-template let-contatoOption pTemplate="item">
              <div>
                <span>{{ contatoOption.nome }} - </span>
                <span
                  *ngIf="
                    contatoOption.tipo === 'Telefone' ||
                    contatoOption.tipo === 'WhatsApp'
                  "
                  >{{ contatoOption.valor | telefone }}</span
                >
                <span
                  *ngIf="
                    contatoOption.tipo !== 'Telefone' &&
                    contatoOption.tipo !== 'WhatsApp'
                  "
                  >{{ contatoOption.valor }}</span
                >
              </div>
            </ng-template>
            <ng-template let-contatoSelected pTemplate="selectedItem">
              <div>
                {{ contatoSelected.nome }}
              </div>
            </ng-template></p-autoComplete
          >

          <span
            *ngIf="
              orcamento.contato!.tipo === 'Telefone' ||
              orcamento.contato!.tipo === 'WhatsApp'
            "
            class="noview"
            >{{ orcamento.contato?.valor | telefone }}</span
          >
          <p-autoComplete
            *ngIf="
              orcamento.contato!.tipo !== 'Telefone' &&
              orcamento.contato!.tipo !== 'WhatsApp'
            "
            name="ContatoValor"
            id="ContatoValor"
            [(ngModel)]="orcamento.contato!.valor"
            [contentEditable]="true"
            (onSelect)="selectContato($event)"
            [suggestions]="contatos"
            (completeMethod)="searchContato($event)"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            appendTo="body"
            [disabled]="orcamento.status !== 'Orçamento'"
            class="noprint"
            ><ng-template let-contatoOption pTemplate="item">
              <div>
                <span>{{ contatoOption.nome }} - </span>
                <span
                  *ngIf="
                    contatoOption.tipo === 'Telefone' ||
                    contatoOption.tipo === 'WhatsApp'
                  "
                  >{{ contatoOption.valor | telefone }}</span
                >
                <span
                  *ngIf="
                    contatoOption.tipo !== 'Telefone' &&
                    contatoOption.tipo !== 'WhatsApp'
                  "
                  >{{ contatoOption.valor }}</span
                >
              </div>
            </ng-template>
            <ng-template let-contatoSelected pTemplate="selectedItem">
              <div>
                {{ contatoSelected.nome }}
              </div>
            </ng-template></p-autoComplete
          >
          <small
            *ngIf="
              (orcamento.contato!.tipo === 'Email' ||
                orcamento.contato!.tipo === 'Email Nfe') &&
              !validaEmail(orcamento.contato!.valor || '')
            "
            class="p-error block"
            >Email invalido.</small
          >
          <span
            *ngIf="
              orcamento.contato!.tipo !== 'Telefone' &&
              orcamento.contato!.tipo !== 'WhatsApp'
            "
            class="noview"
            >{{ orcamento.contato?.valor }}</span
          >
        </div>
      </div>
    </div>
    <div [ngClass]="{ noprint: orcamento.pessoa?.id == undefined }">
      <div class="row">
        <div><h4>Pessoa</h4></div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 d-print-flex">
          <label for="inpPessoaNome">Nome: </label>
          <p-inputGroup>
            <p-autoComplete
              name="inpPessoaNome"
              id="inpPessoaNome"
              [(ngModel)]="orcamento.pessoa"
              field="nome"
              [suggestions]="pessoas"
              (completeMethod)="searchPessoa($event)"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
              appendTo="body"
              [disabled]="orcamento.status !== 'Orçamento'"
              class="noprint flex-grow-1"
            ></p-autoComplete>
            <p-inputGroupAddon class="p-0 noprint">
              <button
                type="button"
                pButton
                icon="pi pi-pencil"
                class="m-0"
                (click)="editPessoa()"
              ></button>
            </p-inputGroupAddon>
          </p-inputGroup>
          <span class="noview">{{ orcamento.pessoa?.nome || "-" }}</span>
        </div>
        <div class="col-6 col-sm-3 d-print-flex">
          <label for="">{{
            orcamento.pessoa?.pessoa_juridica ? "CNPJ: " : "CPF: "
          }}</label>
          <span>{{ (orcamento.pessoa?.cnpj_cpf | cpfCnpj) || "-" }}</span>
        </div>
        <div class="col-6 col-sm-3 d-print-flex">
          <label for="">{{
            orcamento.pessoa?.pessoa_juridica ? "IE: " : "RG: "
          }}</label>
          <span>{{ (orcamento.pessoa?.ie_rg | ieRg) || "-" }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-7 d-print-flex">
          <label for="">Endereço: </label>
          <span>{{ orcamento.pessoa?.endereco || "-" }}</span>
        </div>
        <div class="col-2 d-print-flex">
          <label for="">Numero: </label>
          <span>{{ orcamento.pessoa?.numero || "-" }}</span>
        </div>
        <div class="col-3 d-print-flex">
          <label for="">Bairro: </label>
          <span>{{ orcamento.pessoa?.bairro || "-" }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col d-print-flex">
          <label for="">Cidade: </label>
          <span>{{ orcamento.pessoa?.municipio || "-" }}</span>
        </div>
        <div class="col d-print-flex">
          <label for="">UF: </label>
          <span>{{ orcamento.pessoa?.uf || "-" }}</span>
        </div>
        <div class="col d-print-flex">
          <label for="">CEP: </label>
          <span>{{ (orcamento.pessoa?.cep | cep) || "-" }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4 d-print-flex">
          <label for="">Telefone: </label>
          <span>{{ (orcamento.pessoa?.telefone | telefone) || "-" }}</span>
        </div>
        <div class="col-12 col-sm-4 d-print-flex">
          <label for="">Email: </label>
          <span>{{ orcamento.pessoa?.email || "-" }}</span>
        </div>
        <div class="col-12 col-sm-4 d-print-flex">
          <label for="">Email Nfe: </label>
          <span>{{ orcamento.pessoa?.email_nfe || "-" }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="" />
      <div class="col-12 col-sm-4 d-print-flex">
        <label for="vendedor">Vendedor: </label>
        <p-autoComplete
          name="vendedor"
          id="vendedor"
          [(ngModel)]="orcamento.vendedor"
          field="pessoa.nome"
          [suggestions]="vendedores"
          (completeMethod)="searchVendedor($event)"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          [dropdown]="true"
          [disabled]="orcamento.status !== 'Orçamento'"
          class="noprint"
        ></p-autoComplete>
        <span class="noview">{{
          orcamento.vendedor?.pessoa?.nome || "-"
        }}</span>
      </div>
      <div class="col-12 col-sm-4 d-print-flex">
        <label for="pc_cliente">Pedido de Compra</label>
        <input
          pInputText
          class="p-inputtext"
          name="pc_cliente"
          id="pc_cliente"
          type="text"
          [(ngModel)]="orcamento.pc_cliente"
          [disabled]="orcamento.status !== 'Orçamento'"
          class="noprint"
        />
        <span class="noview">{{ orcamento.pc_cliente }}</span>
      </div>
      <div class="col-12 col-sm-4 d-print-flex">
        <label for="prazo_emdias">Prazo de entrega (Dias Úteis)</label>
        <input
          pInputText
          class="p-inputtext"
          name="prazo_emdias"
          id="prazo_emdias"
          type="number"
          [(ngModel)]="orcamento.prazo_emdias"
          [disabled]="orcamento.status !== 'Orçamento'"
          class="noprint"
        />
        <span class="noview fontLarge">{{ orcamento.prazo_emdias }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p-table
          [value]="orcamento.orcamento_items"
          [scrollable]="true"
          dataKey="uuid"
          formArrayName="orcamento_items"
          name="tblOrcamentoItems"
          id="tblOrcamentoItems"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5rem" class="noprint">Arquivos</th>
              <th>Item</th>
              <th class="wv-300">Descrição</th>
              <th class="wv-300">Material</th>
              <th>Material Incluso</th>
              <th class="noprint">RIR</th>
              <th>Processos</th>
              <th>Largura (blank)</th>
              <th>Comprimento (blank)</th>
              <th>Qtd.</th>
              <th class="noprint">Imposto</th>
              <th class="noprint">Preço (KG/UN)</th>
              <th class="noprint">Tempo</th>
              <th class="noprint">Preço (Hora)</th>
              <th>Valor Uni.</th>
              <th class="noprint">Total Manual</th>
              <th>Total</th>
              <th class="noprint">Peso (Quilo)</th>
              <th class="noprint">Total (Peso)</th>
              <th class="noprint">Total (Hora)</th>
              <th class="noprint">Custo Material</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-item
            let-index="rowIndex"
            let-expanded="expanded"
          >
            <tr>
              <td class="noprint">
                <button
                  type="button"
                  name="btnArquivos"
                  id="btnArquivos"
                  pButton
                  pRipple
                  [pRowToggler]="item"
                  class="p-button-rounded"
                  [icon]="
                    expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                  "
                ></button>
              </td>
              <td>{{ index + 1 }}.</td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      *ngIf="!orcamento.pessoa"
                      pInputText
                      class="p-inputtext"
                      [name]="'inpItemDescricao' + index"
                      [id]="'inpItemDescricao' + index"
                      type="text"
                      [(ngModel)]="item.descricao"
                      [disabled]="orcamento.status !== 'Orçamento'"
                    />
                    <p-autoComplete
                      *ngIf="orcamento.pessoa"
                      pInputText
                      class="p-autocomplete wv-100"
                      [name]="'searchItemDescricao' + index"
                      [id]="'searchItemDescricao' + index"
                      type="text"
                      [(ngModel)]="item.descricao"
                      (onSelect)="onSelectOrcamentoItem($event, index)"
                      [suggestions]="orcamentoItemsByDescription"
                      (completeMethod)="searchOrcamentoItem($event)"
                      [dropdown]="true"
                      [style]="{ width: '100%' }"
                      [inputStyle]="{ width: '100%' }"
                      appendTo="body"
                      [required]="true"
                      [disabled]="orcamento.status !== 'Orçamento'"
                    >
                      <ng-template let-item pTemplate="item">
                        <div class="flex flex-column gap-1 text-xs shadow p-2">
                          <span
                            ><strong>Descrição</strong>: {{ item.descricao }}
                            <strong>Criado</strong>:
                            {{ item.createdAt | date : "dd/MM/yyyy" }}</span
                          >
                          <span
                            ><strong>Tamanho</strong>:
                            {{ (item.largura | number : "1.0-2") + "x"
                            }}{{
                              item.altura
                                ? (item.altura | number : "1.0-2") + "x"
                                : ""
                            }}{{
                              item.produto.espessura | number : "1.0-2"
                            }}mm</span
                          >
                          <span>
                            <strong>Material</strong>: {{ item.produto.nome }}
                          </span>
                          <span *ngIf="item.files.length > 0"
                            ><strong>Arquivos</strong>:
                            <div class="flex flex-column gap-1">
                              <span *ngFor="let file of item.files">
                                {{ file.originalFilename }} -
                                {{ file.createdAt | date : "dd/MM/yyyy" }}
                              </span>
                            </div>
                          </span>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.descricao || "-" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-autoComplete
                      pInputText
                      class="p-autocomplete wv-100"
                      name="produto"
                      id="produto"
                      type="text"
                      [(ngModel)]="item.produto"
                      (onSelect)="calculaPeso(item); setPrecoPecaProduto(item)"
                      field="nome"
                      [suggestions]="produtos"
                      (completeMethod)="searchProduto($event)"
                      [dropdown]="true"
                      [style]="{ width: '100%' }"
                      [inputStyle]="{ width: '100%' }"
                      appendTo="body"
                      [required]="true"
                      [disabled]="orcamento.status !== 'Orçamento'"
                    ></p-autoComplete>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.produto.nome || "-" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="text-center">
                <p-checkbox
                  [name]="'chkMaterialIncluso' + index"
                  [id]="'chkMaterialIncluso' + index"
                  [tabindex]="0"
                  [(ngModel)]="
                    orcamento.orcamento_items[index].material_incluido
                  "
                  [disabled]="orcamento.status !== 'Orçamento'"
                  [binary]="true"
                  (ngModelChange)="calculaPeso(item)"
                ></p-checkbox>
              </td>
              <td class="noprint wv-100" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-autoComplete
                      pInputText
                      class="p-autocomplete wv-100"
                      [name]="'rir' + index"
                      [id]="'rir' + index"
                      type="text"
                      [(ngModel)]="item.registro_inspecao_recebimento"
                      field="id"
                      [suggestions]="rirs"
                      (completeMethod)="searchRir(item)"
                      [dropdown]="true"
                      [style]="{ width: '100%' }"
                      [inputStyle]="{ width: '100%' }"
                      appendTo="body"
                      [required]="true"
                      [disabled]="item.material_incluido"
                    ></p-autoComplete>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.registro_inspecao_recebimento?.id || "-" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-multiSelect
                      name="itemProcesso"
                      id="itemProcesso"
                      [options]="processos$ | async"
                      [(ngModel)]="item.processo"
                      appendTo="body"
                      [disabled]="orcamento.status !== 'Orçamento'"
                    ></p-multiSelect>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <p *ngFor="let processo of item.processo">
                      {{ processo }}
                    </p>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="wv-100 wp-50">
                <p-cellEditor *ngIf="item.produto.categoria !== 'Peça'">
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="largura"
                      id="largura"
                      type="number"
                      lang="pt-BR"
                      [ngModel]="item.largura | number : 'pt-BR'"
                      (ngModelChange)="item.largura = $event"
                      [disabled]="orcamento.status !== 'Orçamento'"
                      (input)="calculaPeso(item)"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.largura | number : "1.0-2" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="wv-100">
                <p-cellEditor *ngIf="item.produto.categoria === 'Chapa'">
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="altura"
                      id="altura"
                      type="number"
                      lang="pt-BR"
                      [ngModel]="item.altura | number : 'pt-BR'"
                      (ngModelChange)="item.altura = $event"
                      [disabled]="orcamento.status !== 'Orçamento'"
                      (input)="calculaPeso(item)"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.altura | number : "1.0-2" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="wv-100">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="quantidade"
                      id="quantidade"
                      type="number"
                      lang="pt-BR"
                      [ngModel]="item.quantidade | number : 'pt-BR'"
                      (ngModelChange)="item.quantidade = $event"
                      [disabled]="orcamento.status !== 'Orçamento'"
                      (input)="calculaHora(item)"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.quantidade | number : "1.0-2" || "-" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="wv-100 noprint">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemImposto"
                      id="inpItemImposto"
                      type="text"
                      [ngModel]="item.imposto | percent : '1.2-2' : 'PT-BR'"
                      (ngModelChange)="onChangeItemImposto($event, item)"
                      [disabled]="orcamento.status !== 'Orçamento'"
                      (input)="calculaPeso(item)"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.imposto | percent : "1.2-2" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="noprint wv-100" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemPrecoQuilo"
                      id="inpItemPrecoQuilo"
                      type="text"
                      [ngModel]="item.preco_quilo | currency : 'BRL'"
                      (ngModelChange)="onChangeItemPrecoQuilo($event, item)"
                      [disabled]="orcamento.status !== 'Orçamento'"
                      (input)="calculaPeso(item)"
                    />
                    <table
                      style="width: 100%"
                      *ngIf="onPrecoSixMonthsAgo(item); else precosixmonthsago"
                    >
                      <tr *ngFor="let markup of markupOptions$ | async">
                        <td>
                          <div
                            style="font-size: xx-small"
                            [ngClass]="{
                              statusGreen: markup.valor === 'Maior',
                              statusYellow: markup.valor === 'Médio',
                              statusRed: markup.valor === 'Menor',
                            }"
                          >
                            {{ markup.valor }}:
                            {{
                              markup.valor2 *
                                item.produto.pedido_compra_items[0]
                                  .precoComIpi || 0 | currency : "BRL"
                            }}
                          </div>
                        </td>
                      </tr>
                    </table>
                    <ng-template #precosixmonthsago>
                      <span style="font-size: xx-small" class="statusRed"
                        >Preço desatualizado</span
                      >
                    </ng-template>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.preco_quilo | currency : "BRL" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="noprint" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemTempo"
                      id="inpItemTempo"
                      type="time"
                      [(ngModel)]="item.tempo"
                      (input)="calculaHora(item)"
                      step="1"
                      [disabled]="orcamento.status !== 'Orçamento'"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.tempo }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="noprint wv-100" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemPrecoHora"
                      id="inpItemPrecoHora"
                      type="text"
                      [ngModel]="item.preco_hora | currency : 'BRL'"
                      (ngModelChange)="onChangeItemPrecoHora($event, item)"
                      (input)="calculaHora(item)"
                      [disabled]="orcamento.status !== 'Orçamento'"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.preco_hora | currency : "BRL" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                {{ item.total / item.quantidade | currency : "BRL" }}
              </td>
              <td class="noprint w-100" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemTotalManual"
                      id="inpItemTotalManual"
                      type="text"
                      [ngModel]="item.total_manual | currency : 'BRL'"
                      (ngModelChange)="
                        onChangeItemTotalManual($event, item);
                        calculaTotal(item)
                      "
                      [disabled]="orcamento.status !== 'Orçamento'"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.total_manual | currency : "BRL" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                {{ item.total | currency : "BRL" }}
              </td>
              <td class="noprint">
                {{ item.peso | number : "1.0-2" }}
              </td>
              <td class="noprint">
                {{ item.total_peso | currency : "BRL" }}
              </td>
              <td class="noprint">
                {{ item.total_hora | currency : "BRL" }}
              </td>
              <td class="noprint">
                {{ item.custo | currency : "BRL" }}
              </td>

              <td class="noprint">
                <button
                  [disabled]="orcamento.status !== 'Orçamento'"
                  (click)="removeItem(index)"
                  name="btnRemove"
                  id="btnRemove"
                  pButton
                  class="bg-transparent border-0"
                >
                  <i class="pi pi-trash trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-item>
            <tr>
              <td colspan="8">
                <listaFiles
                  [files]="item.files"
                  (onChangeFiles)="onChangeFiles($event, item)"
                  [compact]="true"
                ></listaFiles>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="flex flex-grow flex-wrap">
          <button
            name="btnNewItem"
            id="btnNewItem"
            pButton
            class="button"
            type="button"
            (click)="newItem()"
            class="noprint"
            [disabled]="orcamento.status !== 'Orçamento'"
          >
            <i class="pi pi-plus text-black"></i>
          </button>
          <button
            name="btnExportar"
            id="btnExportar"
            pButton
            type="button"
            (click)="exportOrcamentoItemToXlsx()"
            class="noprint"
            [disabled]="orcamento.orcamento_items.length === 0"
          >
            Exportar
          </button>
          <div>
            <input
              type="file"
              class="file-input"
              (change)="importOrcamentoItemFromXlsx($event)"
              #fileUpload
            />
            <button
              pButton
              name="btnImportar"
              id="btnImportar"
              class="p-button noprint"
              type="button"
              (click)="fileUpload.click()"
              [disabled]="orcamento.status !== 'Orçamento' || loadingImportar"
            >
              Importar
              <p-progressSpinner
                *ngIf="loadingImportar"
                [style]="{
                  width: '27px',
                  height: '27px',
                  margin: 'auto'
                }"
                styleClass="custom-spinner"
                strokeWidth="8"
                fill="var(--surface-ground)"
                animationDuration="1s"
              ></p-progressSpinner>
            </button>
          </div>
          <button
            pButton
            icon="pi pi-download"
            type="button"
            (click)="downloadAllFiles()"
          ></button>
        </div>

        <tr>
          <td colspan="11">
            <div class="row">
              <div class="col-6">
                <label for="cond_pag">Condição de Pagamento: </label>
                <p-dropdown
                  name="cond_pag"
                  id="cond_pag"
                  [options]="condicaoPagamento$ | async"
                  [(ngModel)]="orcamento.cond_pag"
                  [disabled]="orcamento.status !== 'Orçamento'"
                  class="noprint"
                ></p-dropdown>
                <span class="noview">{{ orcamento.cond_pag }}</span>
              </div>
              <div class="col-2">
                <label for="frete">Frete: </label
                ><input
                  pInputText
                  class="p-inputtext noprint"
                  name="frete"
                  id="frete"
                  type="text"
                  [ngModel]="orcamento.frete | currency : 'BRL'"
                  (ngModelChange)="onChangeFrete($event); calculaTotais()"
                  [disabled]="orcamento.status !== 'Orçamento'"
                />
                <span class="noview">{{
                  orcamento.frete | currency : "BRL"
                }}</span>
              </div>
              <div class="col-2">
                <label for="desconto">Desconto: </label
                ><input
                  pInputText
                  class="p-inputtext noprint"
                  name="desconto"
                  id="desconto"
                  type="text"
                  [ngModel]="orcamento.desconto | currency : 'BRL'"
                  (ngModelChange)="onChangeDesconto($event); calculaTotais()"
                  [disabled]="orcamento.status !== 'Orçamento'"
                />
                <span class="noview">{{
                  orcamento.desconto | currency : "BRL"
                }}</span>
              </div>
              <div class="col-2">
                <label>Total: </label>
                <span class="fontLarge">{{
                  orcamento.total | currency : "BRL"
                }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="embalagem">Embalagens: </label>
                <p-dropdown
                  name="embalagem"
                  id="embalagem"
                  [options]="embalagensOptions"
                  [(ngModel)]="orcamento.embalagem"
                  [disabled]="orcamento.status !== 'Orçamento'"
                  class="noprint"
                ></p-dropdown>
                <span class="noview">{{ orcamento.embalagem }}</span>
              </div>
              <div class="col-6">
                <label for="transporte">Transporte: </label>
                <p-dropdown
                  name="transporte"
                  id="transporte"
                  [options]="transporteOptions"
                  [(ngModel)]="orcamento.transporte"
                  [disabled]="orcamento.status !== 'Orçamento'"
                  class="noprint"
                ></p-dropdown>
                <span class="noview">{{ orcamento.transporte }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="observacao">Observações: </label>
                <textarea
                  pInputTextarea
                  class="p-inputtextarea noprint"
                  name="observacao"
                  id="observacao"
                  [(ngModel)]="orcamento.observacao"
                  [disabled]="orcamento.status !== 'Orçamento'"
                ></textarea>
                <span class="noview">{{ orcamento.observacao }}</span>
              </div>
            </div>
            <div class="row noview">
              <div class="col">
                <p *ngFor="let obs of condicaoOrcamento$ | async">
                  - {{ obs }}
                </p>
              </div>
            </div>
          </td>
        </tr>
      </div>
    </div>
  </div>
  <hr />
  <div class="noprint flex flex-col md:flex-row">
    <div class="flex-grow">
      <button
        pButton
        class="p-button p-button-danger"
        (click)="confirm()"
        type="button"
        name="btnExcluir"
        id="btnExcluir"
      >
        Excluir
      </button>
    </div>

    <button
      pButton
      class="p-button p-button-success"
      type="submit"
      name="btnSalvar"
      id="btnSalvar"
      [disabled]="loadingSalvar"
    >
      Salvar
      <p-progressSpinner
        *ngIf="loadingSalvar"
        [style]="{ width: '27px', height: '27px', margin: 'auto' }"
        styleClass="custom-spinner"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration="1s"
      ></p-progressSpinner>
    </button>
    <button
      pButton
      class="p-button p-button-success"
      type="button"
      name="btnAprovar"
      id="btnAprovar"
      (click)="displayAprovacao = true"
      [disabled]="id == 0 || loadingAprovar"
    >
      Aprovar
      <p-progressSpinner
        *ngIf="loadingAprovar"
        [style]="{ width: '27px', height: '27px', margin: 'auto' }"
        styleClass="custom-spinner"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration="1s"
      ></p-progressSpinner>
    </button>
    <button
      pButton
      class="p-button"
      type="button"
      name="btnImprimir"
      id="btnImprimir"
    >
      <a href="javascript:window.print()"> Imprimir </a>
    </button>
    <button
      pButton
      class="p-button"
      type="button"
      name="btnClonar"
      id="btnClonar"
      (click)="clonar()"
    >
      Clonar
    </button>
    <button
      pButton
      class="p-button"
      (click)="getBackOrcamentos()"
      type="button"
      name="btnVoltar"
      id="btnVoltar"
    >
      Voltar
    </button>
    <p-confirmDialog
      header="Confirmação"
      acceptLabel="Sim"
      rejectLabel="Não"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
  </div>
  <p-dialog [(visible)]="displayAprovacao">
    <ng-template pTemplate="header">
      Como o orçamento foi aprovado?
    </ng-template>
    <p-dropdown
      [options]="aprovacaoOrcamento$ | async"
      [(ngModel)]="aprovacao"
      appendTo="body"
      [style]="{ width: '100%' }"
      name="aprovacao"
      id="aprovacao"
    ></p-dropdown>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button p-button-success"
        type="button"
        name="btnAprovar"
        id="btnAprovar"
        (click)="aprovar()"
      >
        Aprovar
      </button>
    </ng-template>
  </p-dialog>
</form>
