*{ color: white; }

.p-button, a{
  color: black;
}

.wv-300 {
  min-width: 300px;
}

.wv-100 {
  min-width: 100px;
}

.wv-50 {
  min-width: 50px;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
}

button {
  margin-right: 10px;
}

.file-input {
  display: none;
}

.statusGreen {
  color: lightgreen;
  /* background-color: #d4edda; */
}

.statusYellow{
  color: gold;
  /* background-color: #fff3cd; */
}

.statusRed{
  color: lightcoral;
  /* background-color: #f8d7da; */
}



@media print {
  .wv-300,
  .wv-100 {
    min-width: auto;
  }

  .wp-150 {
    min-width: 150px;
  }

  .fontLarge {
    font-size: large;
  }
}
