<form #orcamentoForm="ngForm" (ngSubmit)="createOrUpdate()">
  <h2>Proposta Comercial</h2>
  <caixaDeStatus
    [status]="orcamento.status"
    [options]="status$ | async"
    [editable]="false"
    (statusChange)="orcamento.status = $event"
  ></caixaDeStatus>
  <div class="container">
    <div class="row">
      <div class="col">
        <label for="inpId">Numero</label>
        <input
          pInputText
          class="p-inputtext"
          disabled
          name="id"
          id="id"
          type="text"
          [(ngModel)]="orcamento.id"
        />
      </div>
      <div class="col">
        <label for="inpData">Data</label>
        <input
          pInputText
          class="p-inputtext"
          disabled
          name="updatedAt"
          id="updatedAt"
          type="text"
          value="{{ orcamento.updatedAt | date : 'dd/MM/yyyy HH:mm:ss' }}"
        />
      </div>
    </div>
    <div class="row">
      <div><h4>Contato</h4></div>
    </div>
    <div class="row">
      <div class="col">
        <label for="ContatoNome">Nome</label>
        <p-autoComplete
          name="ContatoNome"
          id="ContatoNome"
          [(ngModel)]="orcamento.contato"
          field="nome"
          [suggestions]="contatos"
          (completeMethod)="searchContato($event)"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          ><ng-template let-contatoOption pTemplate="item">
            <div>
              <span>{{ contatoOption.nome }} - </span>
              <span
                *ngIf="
                  contatoOption.tipo === 'Telefone' ||
                  contatoOption.tipo === 'WhatsApp'
                "
                >{{ contatoOption.valor | telefone }}</span
              >
              <span
                *ngIf="
                  contatoOption.tipo !== 'Telefone' &&
                  contatoOption.tipo !== 'WhatsApp'
                "
                >{{ contatoOption.valor }}</span
              >
            </div>
          </ng-template>
          <ng-template let-contatoSelected pTemplate="selectedItem">
            <div>
              {{ contatoSelected.nome }}
            </div>
          </ng-template></p-autoComplete
        >
      </div>
      <div class="col">
        <label for="inpContatoTipo">Tipo</label>
        <p-dropdown
          [name]="'InpContatoTipo'"
          id="InpContatoTipo"
          [options]="contatoCategorias$ | async"
          [(ngModel)]="orcamento.contato!.tipo"
          [style]="{ width: '100%' }"
          appendTo="body"
          optionLabel="valor"
          optionValue="valor"
        ></p-dropdown>
      </div>
      <div class="col">
        <label for="inpContatoTipo">Contato</label>
        <p-autoComplete
          *ngIf="
            orcamento.contato!.tipo === 'Telefone' ||
            orcamento.contato!.tipo === 'WhatsApp'
          "
          name="inpContatoTelefone"
          id="inpContatoTelefone"
          [(ngModel)]="orcamento.contato"
          field="valor"
          [suggestions]="contatos"
          (completeMethod)="searchContato($event)"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          ><ng-template let-contatoOption pTemplate="item">
            <div>
              {{ contatoOption.valor | telefone }}
            </div>
          </ng-template>
          <ng-template let-contatoSelected pTemplate="selectedItem">
            <div>
              {{ contatoSelected.valor | telefone }}
            </div>
          </ng-template>
        </p-autoComplete>
        <p-autoComplete
          *ngIf="orcamento.contato!.tipo === 'Email'"
          name="inpContatoEmail"
          id="inpContatoEmail"
          [(ngModel)]="orcamento.contato"
          field="valor"
          [suggestions]="contatos"
          (completeMethod)="searchContato($event)"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
        ></p-autoComplete>
        <small
          *ngIf="
            orcamento.contato!.tipo === 'Email' &&
            !validaEmail(orcamento.contato!.valor || '')
          "
          class="p-error block"
          >Email invalido.</small
        >
        <p-autoComplete
          *ngIf="
            orcamento.contato!.tipo !== 'Email' &&
            orcamento.contato!.tipo !== 'Telefone' &&
            orcamento.contato!.tipo !== 'WhatsApp'
          "
          name="inpContatoValor"
          id="inpContatoValor"
          [(ngModel)]="orcamento.contato"
          field="valor"
          [suggestions]="contatos"
          (completeMethod)="searchContato($event)"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
        ></p-autoComplete>
      </div>
    </div>
    <div class="row">
      <div><h4>Pessoa</h4></div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="inpPessoaNome">Nome</label>
        <p-autoComplete
          name="inpPessoaNome"
          id="inpPessoaNome"
          [(ngModel)]="orcamento.pessoa"
          field="nome"
          [suggestions]="pessoas"
          (completeMethod)="searchPessoa($event)"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
        ></p-autoComplete>
      </div>
      <div class="col-3">
        <label for="">{{
          orcamento.pessoa?.pessoa_juridica ? "CNPJ" : "CPF"
        }}</label>
        <p>{{ (orcamento.pessoa?.cnpj_cpf | cpfCnpj) || "-" }}</p>
      </div>
      <div class="col-3">
        <label for="">{{
          orcamento.pessoa?.pessoa_juridica ? "IE" : "RG"
        }}</label>
        <p>{{ (orcamento.pessoa?.ie_rg | ieRg) || "-" }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Endereço</label>
        <p>{{ orcamento.pessoa?.endereco || "-" }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Cidade</label>
        <p>{{ orcamento.pessoa?.municipio || "-" }}</p>
      </div>
      <div class="col">
        <label for="">UF</label>
        <p>{{ orcamento.pessoa?.uf || "-" }}</p>
      </div>
      <div class="col">
        <label for="">CEP</label>
        <p>{{ (orcamento.pessoa?.cep | cep) || "-" }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Telefone</label>
        <p>{{ (orcamento.pessoa?.telefone | telefone) || "-" }}</p>
      </div>
      <div class="col">
        <label for="">Email</label>
        <p>{{ orcamento.pessoa?.email || "-" }}</p>
      </div>
      <div class="col">
        <label for="">Email Nfe</label>
        <p>{{ orcamento.pessoa?.email_nfe || "-" }}</p>
      </div>
    </div>
    <div class="row">
      <hr class="noprint" />
      <div class="col">
        <label for="">Vendedor</label>
        <p-autoComplete
          name="inpVendedorNome"
          id="inpVendedorNome"
          [(ngModel)]="orcamento.vendedor"
          field="pessoa.nome"
          [suggestions]="vendedores"
          (completeMethod)="searchVendedor($event)"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          [dropdown]="true"
        ></p-autoComplete>
      </div>
      <div class="col">
        <label for="inpPedidoCompraCliente">Pedido de Compra</label>
        <input
          pInputText
          class="p-inputtext"
          name="inpPedidoCompraCliente"
          id="inpPedidoCompraCliente"
          type="text"
          [(ngModel)]="orcamento.pc_cliente"
        />
      </div>
      <div class="col">
        <label for="inpPedidoCompraCliente"
          >Prazo de entrega (Dias Úteis)</label
        >
        <input
          pInputText
          class="p-inputtext"
          name="inpPrazoEmDias"
          id="inpPrazoEmDias"
          type="number"
          [(ngModel)]="orcamento.prazo_emdias"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p-table
          [value]="orcamento.orcamento_items"
          [scrollable]="true"
          dataKey="uuid"
          formArrayName="orcamento_items"
          name="tblOrcamentoItems"
          id="tblOrcamentoItems"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5rem" class="noprint">Arquivos</th>
              <th>Item</th>
              <th pSortableColumn="produto.descricao" class="w-300">
                Descrição <p-sortIcon field="produto.descricao"></p-sortIcon>
              </th>
              <th pSortableColumn="produto.nome" class="w-300">
                Material<p-sortIcon field="produto.nome"></p-sortIcon>
              </th>
              <th>Material Incluso</th>
              <th class="noprint">RIR</th>
              <th class="noprint">Processos</th>
              <th>Largura (blank)</th>
              <th>Altura (blank)</th>
              <th>Qtd.</th>
              <th>Imposto</th>
              <th class="noprint">Preço (Quilo)</th>
              <th class="noprint">Tempo</th>
              <th class="noprint">Preço (Hora)</th>
              <th>Valor Uni.</th>
              <th class="noprint">Total Manual</th>
              <th>Total</th>
              <th class="noprint">Peso (Quilo)</th>
              <th class="noprint">Total (Peso)</th>
              <th class="noprint">Total (Hora)</th>
              <th class="noprint">Custo Material</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-item
            let-index="rowIndex"
            let-expanded="expanded"
          >
            <tr>
              <td class="noprint">
                <button
                  type="button"
                  name="btnArquivos"
                  id="btnArquivos"
                  pButton
                  pRipple
                  [pRowToggler]="item"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="
                    expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                  "
                ></button>
              </td>
              <td>{{ index + 1 }}.</td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemDescricao"
                      id="inpItemDescricao"
                      type="text"
                      [(ngModel)]="item.descricao"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.descricao || "-" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-autoComplete
                      pInputText
                      class="p-autocomplete w-100"
                      name="inpProdutos"
                      id="inpProdutos"
                      type="text"
                      [(ngModel)]="item.produto"
                      (ngModelChange)="calculaPeso(item)"
                      field="nome"
                      [suggestions]="produtos"
                      (completeMethod)="searchProduto($event)"
                      [dropdown]="true"
                      [style]="{ width: '100%' }"
                      [inputStyle]="{ width: '100%' }"
                      appendTo="body"
                      [required]="true"
                    ></p-autoComplete>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.produto.nome || "-" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="text-center">
                <p-checkbox
                  name="chkMaterialIncluso"
                  id="chkMaterialIncluso"
                  [tabindex]="0"
                  [(ngModel)]="item.material_incluido"
                  [binary]="true"
                  (ngModelChange)="calculaPeso(item)"
                ></p-checkbox>
              </td>
              <td class="noprint w-100" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemRir"
                      id="inpItemRir"
                      type="text"
                      [(ngModel)]="item.rir"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.rir || "-" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="noprint" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-multiSelect
                      name="itemProcesso"
                      id="itemProcesso"
                      [options]="processos$ | async"
                      [(ngModel)]="item.processo"
                      appendTo="body"
                    ></p-multiSelect>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <p *ngFor="let processo of item.processo">
                      {{ processo }}
                    </p>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="w-100">
                <p-cellEditor *ngIf="item.produto.categoria !== 'Peça'">
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemlargura"
                      id="inpItemlargura"
                      type="number"
                      [(ngModel)]="item.largura"
                      (input)="calculaPeso(item)"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.largura }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="w-100">
                <p-cellEditor *ngIf="item.produto.categoria === 'Chapa'">
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemAltura"
                      id="inpItemAltura"
                      type="number"
                      [(ngModel)]="item.altura"
                      (input)="calculaPeso(item)"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.altura }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="w-100">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemQuantidade"
                      id="inpItemQuantidade"
                      type="number"
                      [(ngModel)]="item.quantidade"
                      (input)="calculaHora(item); calculaPeso(item)"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.quantidade || "-" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="w-100">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemImposto"
                      id="inpItemImposto"
                      type="text"
                      [ngModel]="item.imposto | percent : '1.2-2' : 'PT-BR'"
                      (ngModelChange)="onChangeItemImposto($event, item)"
                      (input)="calculaTotal(item)"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.imposto | percent : "1.2-2" : "PT-BR" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="noprint w-100" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemPrecoQuilo"
                      id="inpItemPrecoQuilo"
                      type="text"
                      [ngModel]="item.preco_quilo | currency : 'BRL'"
                      (ngModelChange)="onChangeItemPrecoQuilo($event, item)"
                      (input)="calculaPeso(item)"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.preco_quilo | currency : "BRL" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="noprint" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemTempo"
                      id="inpItemTempo"
                      type="time"
                      [(ngModel)]="item.tempo"
                      (input)="calculaHora(item)"
                      step="1"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.tempo }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="noprint w-100" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemPrecoHora"
                      id="inpItemPrecoHora"
                      type="text"
                      [ngModel]="item.preco_hora | currency : 'BRL'"
                      (ngModelChange)="onChangeItemPrecoHora($event, item)"
                      (input)="calculaHora(item)"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.preco_hora | currency : "BRL" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                {{ item.total / item.quantidade | currency : "BRL" }}
              </td>
              <td class="noprint w-100" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="p-inputtext"
                      name="inpItemTotalManual"
                      id="inpItemTotalManual"
                      type="text"
                      [ngModel]="item.total_manual | currency : 'BRL'"
                      (ngModelChange)="
                        onChangeItemTotalManual($event, item);
                        calculaTotal(item)
                      "
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ item.total_manual | currency : "BRL" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                {{ item.total | currency : "BRL" }}
              </td>
              <td class="noprint">
                {{ item.peso | number : "1.0-2" : "pt-BR" }}
              </td>
              <td class="noprint">
                {{ item.total_peso | currency : "BRL" }}
              </td>
              <td class="noprint">
                {{ item.total_hora | currency : "BRL" }}
              </td>
              <td class="noprint">
                {{ item.custo | currency : "BRL" }}
              </td>

              <td class="noprint">
                <i
                  class="pi pi-trash trash"
                  (click)="removeItem(index)"
                  name="btnRemove"
                  id="btnRemove"
                ></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-item>
            <tr>
              <td colspan="8">
                <listaFiles
                  [files]="item.files"
                  (onChangeFiles)="onChangeFiles($event, item)"
                  [compact]="true"
                ></listaFiles>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td>
                <button
                  name="btnNewItem"
                  id="btnNewItem"
                  pButton
                  class="button"
                  (click)="newItem()"
                  class="noprint"
                >
                  <i class="pi pi-plus"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="inpCondicaoPagamento">Condição de Pagamento</label>
        <p-dropdown
          name="inpCondicaoPagamento"
          id="inpCondicaoPagamento"
          [options]="condicaoPagamento$ | async"
          [(ngModel)]="orcamento.cond_pag"
        ></p-dropdown>
      </div>
      <div class="col-2">
        <label for="inpFrete">Frete: </label
        ><input
          pInputText
          class="p-inputtext"
          name="inpFrete"
          id="inpFrete"
          type="text"
          [ngModel]="orcamento.frete | currency : 'BRL'"
          (ngModelChange)="onChangeFrete($event); calculaTotais()"
        />
      </div>
      <div class="col-2">
        <label for="inpDesconto">Desconto: </label
        ><input
          pInputText
          class="p-inputtext"
          name="inpDesconto"
          id="inpDesconto"
          type="text"
          [ngModel]="orcamento.desconto | currency : 'BRL'"
          (ngModelChange)="onChangeDesconto($event); calculaTotais()"
        />
      </div>
      <div class="col-2">
        <label>Total: </label>
        <span style="width: 100%; font-size: x-large">{{
          orcamento.total | currency : "BRL"
        }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="inpEmbalagens">Embalagens: </label>
        <p-dropdown
          name="inpEmbalagens"
          id="inpEmbalagens"
          [options]="embalagensOptions"
          [(ngModel)]="orcamento.embalagem"
        ></p-dropdown>
      </div>
      <div class="col-6">
        <label for="inpTransporte">Transporte: </label>
        <p-dropdown
          name="inpTransporte"
          id="inpTransporte"
          [options]="transporteOptions"
          [(ngModel)]="orcamento.transporte"
        ></p-dropdown>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="inpObservacoes">Observações: </label>
        <textarea
          pInputTextarea
          class="p-inputtextarea"
          name="inpObservacoes"
          id="inpObservacoes"
          [(ngModel)]="orcamento.observacao"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p *ngFor="let obs of condicaoOrcamento$ | async">- {{ obs }}</p>
      </div>
    </div>
  </div>
  <div class="noprint">
    <button
      pButton
      class="p-button p-button-danger"
      (click)="confirm()"
      type="button"
      name="btnExcluir"
      id="btnExcluir"
    >
      Excluir
    </button>
    <button
      pButton
      class="p-button p-button-success"
      type="submit"
      name="btnSalvar"
      id="btnSalvar"
    >
      Salvar
    </button>
    <button
      pButton
      class="p-button"
      (click)="getBackOrcamentos()"
      type="button"
      name="btnVoltar"
      id="btnVoltar"
    >
      Voltar
    </button>
    <p-confirmDialog
      header="Confirmação"
      acceptLabel="Sim"
      rejectLabel="Não"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
  </div>
</form>
